<script src="__MB_STATIC__/js/shehuizhaopin.js"></script>

<!--  主体-->

	<!-- 焦点图 -->
	<div class="swiper-container banner">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="__MB_STATIC__/img/banner.jpg" alt="">
			</div>
			<div class="swiper-slide">
				<img src="__MB_STATIC__/img/shezhao01.png" alt="">
			</div>
			<div class="swiper-slide">
				<img src="__MB_STATIC__/img/md01.png" alt="">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<!-- 招聘岗位 -->
	<div class="news job">
		<div class="news-top clear">
			<h1>招聘简介</h1>
			<span class="news-top-right">上海<i></i></span>
			<div class="cpmWrapper">
				<div class="city">
					<h3>请选择应聘的城市</h3>
					<ul>
						<li class="now">上海</li>
						<li>兰州</li>
						<li>杭州</li>
						<li>深圳</li>
					</ul>
				</div>
				<span>取消</span>
			</div>
		</div>
		<div class="floor">
			<h3>业务</h3>
			<p>与悉云科技签订战略合作协议与悉云科技签合作协议,与悉云科技签订战略与悉云科技签合作协议与悉云科技签。</p>
			<p>订战略合作协议与悉云科技签订战略合作协云科技签shehuizhaopin订战略与悉云科技签订战略合作协云科技签订战略合作协.与悉云科技签订战略略与悉云科技签订战略合作协议。</p>

		</div>
		<div class="information">
			<div class="cont_wrapper">
				<div class="swiper-container cont">
					<div class="info_menu swiper-wrapper">
						<a href="##" class="swiper-slide job">业务招聘</a>
						<a href="##" class="swiper-slide job current">技术招聘</a>
						<a href="##" class="swiper-slide job">职能招聘</a>
						<a href="##" class="swiper-slide job">管理招聘</a>
						<a href="##" class="swiper-slide job">市场招聘</a>
					</div>
				</div>
				<span class="left"></span>
				<span class="right"></span>
			</div>
			<div style="height:2rem"></div>
			<div class="all-content">
				<div class="content">
					<div class="floor">
						<h3>业务</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
				</div>
				<div class="content" style="display: block;">
					<div class="floor">
						<h3>技术</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>管理</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>市场</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
				</div>
				<div class="content">
					<div class="floor">
						<h3>职能</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>管理</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>管理</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>市场</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
				</div>
				<div class="content">
					<div class="floor">
						<h3>管理</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>职能</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>管理</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>市场</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
				</div>
				<div class="content">
					<div class="floor">
						<h3>市场</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>职能</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>管理</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
					<div class="floor">
						<h3>市场</h3>
						<table class="table">
							<tr>
								<td class="left" rowspan="2">岗位职责：</td>
								<td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left" rowspan="2">任职要求：</td>
								<td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr>

							</tr>
							<tr>
								<td class="left">工作经验：</td>
								<td class="right">上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr>
								<td class="left">公司地址：</td>
								<td class="right">151888888888</td>
							</tr>
							<tr>
								<td class="left">薪资待遇：</td>
								<td class="right">151888888888</td>
							</tr>
						</table>
						<a href="##" class="more" data-cont="shehuizhaopin-data_floor1">更多详情&gt;&gt;</a>
					</div>
				</div>
			</div>
		</div>
		<a class="totop" href="#main"></a>
	</div><!-- end 招聘岗位-->

	