<!-- start js -->

    <!-- js placed at the end of the document so the pages load faster -->
    <js href="http://static.maiunsoft.com/assets/bootstrap-3.3.5/js/bootstrap.min.js" />
    <js href="__PUBLIC__/Static/Js/jquery/jquery.cookie.js"  />
    <js href="__PUBLIC__/Static/Js/jquery/jquery.dcjqaccordion.2.7.min.js"  />
    <js href="__PUBLIC__/Static/Js/jquery/jquery.scrollTo.min.js"  />
    <js href="__PUBLIC__/Static/Js/jquery/jquery.nicescroll.js"   />
    <js href="__PUBLIC__/Static/Js/respond.min.js"   />
    <js href="__PUBLIC__/Static/Js/jquery/jquery.stepy.js"   />

    <!--common script for all pages-->
    <js href="__MOD_STATIC__/js/common-scripts.js"  />
    <!-- end js -->

    


