<!--top start-->
<header class="header white-bg">
    <!--logo start-->
    <a href="{:U('home/index')}" class="logo">MAIUNSOFT WCM SYSTEM</a>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="username">Administrator</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a href="#"><i class=" fa fa-suitcase"></i>首选项</a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog"></i> 设置</a>
                    </li>
                    <li><a href="{:U('my/reset_password')}"><i class="fa fa-key"></i>修改密码</a>
                    </li>
                    <li><a href="{:U('login/logout')}"><i class="fa fa-logout"></i> 退出系统</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
    </div>
</header>
<!--top end-->
