 <div class="banner-div banner-4">
    <div class="banner-content-4 vertical-center">
            校园宣讲
    </div>
    <div class="banner-mask-4 vertical-center">

    </div>
</div>

<div class="bg-color-3">
    <div class="connection">
        <span>联系电话： 400-9910-540</span>
        <span>企业邮箱： service@maiunsoft.com</span>
        <span>企业QQ： service@maiunsoft.com</span>
    </div>
</div>

<foreach name="detailList" item="detail">
	<div class="template-card card-switch-1">
			<div class="template-card-img">
				<span></span>
				<img src="__PC_STATIC__/imgs/shanghai.png" alt="">
			</div>
			<div class="template-card-article-3">
				<h3 class="job-title">{$detail.name}</h3>
				<table>
					<tr>
						<td class="table-title">
							宣讲主题：
						</td>
						<td class="table-content">
							参与设计、审核、优化公司IT系统以及各应用系统的体系架构；
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲时间：
						</td>
						<td class="table-content">
							{$detail.start_time}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲嘉宾：
						</td>
						<td class="table-content">
							{$detail.contact_name}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲地址：
						</td>
						<td class="table-content">
							{$detail.address}
						</td>
					</tr>
				</table>
			</div>
		</div>
</foreach>
      
		