<script>document.title = "校园招聘";</script>
<div class="banner-div banner-4">
	<div class="banner-content-4 vertical-center">
		校园招聘
	</div>
	<div class="banner-mask-4 vertical-center">

	</div>
</div>

<div class="bg-color-3">
	<div class="connection">
		<span>联系电话： 021-80392945转014</span>
		<span>邮箱： hr@maiunsoft.com</span>
		<span>企业邮箱： service@maiunsoft.com</span>
	</div>
</div>

<div class="bg-color-5">
	<div class="template-wrap">
		<div class="employ-tabswitch-1">
		<foreach name="activityTypeList" item="activity">
			<php>
				$selected = $activityType == $key ? "switch-active" : "";
			</php>
			<button class="tabswitch-btn {$selected}">{$activity}</button>
		</foreach>
		</div>

		<div class="drop-down">
			<div class="default-item">{$jobCityList[$jobCity]}</div>
			<foreach name="jobCityList" item="city">
				<php>
					$hide = "hide";
				</php>
				<div class="drop-down-item {$hide}" data-city="{$key}">{$city}</div>
			</foreach>

			
		</div>
		
		<!--校园宣讲-->
		<foreach name="schoolActivityList" item="scActivity">
		<div class="template-city" data-city="{$scActivity.city}">
			<div class="template-card card-switch-1">
			<div class="template-card-img">
				<span></span>
				<img src="__PC_STATIC__/imgs/shanghai.png" alt="">
			</div>
			<div class="template-card-article-3">
				<h3 class="job-title">{$scActivity.name}</h3>
				<table>
					<tr>
						<td class="table-title">
							宣讲主题：
						</td>
						<td class="table-content">
							{$scActivity.agenda}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲时间：
						</td>
						<td class="table-content">
							{$scActivity.start_time}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲嘉宾：
						</td>
						<td class="table-content">
							{$scActivity.contact_name}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲地址：
						</td>
						<td class="table-content">
							{$scActivity.address}
						</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
		</foreach>
		
		
		
		<!--实习生-->
		<foreach name="traineeList" item="trainee">
			<div class="template-city" data-city="{$trainee.work_city}">
			<div class="template-card card-switch-2 hide">
			<div class="template-card-article-2">
				<h3 class="job-title">{$trainee.name}</h3>
				<table>
					<tr>
						<td class="table-title">
							岗位职责：
						</td>
						<td class="table-content">
							{$trainee.work_content}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							任职要求：
						</td>
						<td class="table-content">
							{$trainee.requirements}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							工作经验：
						</td>
						<td class="table-content">
							一年以下
						</td>
					</tr>
					<tr>
						<td class="table-title">
							公司地址：
						</td>
						<td class="table-content">
							上海市沪太路5018弄梓坤科技园1号楼1509室
						</td>
					</tr>
					<tr>
						<td class="table-title">
							薪资待遇：
						</td>
						<td class="table-content">
							{$trainee.salary_scope}
						</td>
					</tr>
				</table>
				
				<switch name='trainee.urgency'>
					<case value="2">
					<div class="template-card-imgbox">
					<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
					</div>
					</case>
					<case value="3">
					<div class="template-card-imgbox">
					<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
					<img src="__PC_STATIC__/imgs/rush-2.png" alt="rush">
					</div>
					</case>
					<default />
				</switch>
				
				
			</div>
		</div>
		</div>
		</foreach>

		<!--应届生-->
		<foreach name="graduateList" item="graduate">
		<div class="template-city" data-city="{$graduate.work_city}">
			<div class="template-card card-switch-3 hide">
			<div class="template-card-article-3">
				<h3 class="job-title">{$graduate.name}</h3>
				<table>
					<tr>
						<td class="table-title">
							岗位职责：
						</td>
						<td class="table-content">
							{$graduate.work_content}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							任职要求：
						</td>
						<td class="table-content">
							{$graduate.requirements}
						</td>
					</tr>
					<tr>
						<td class="table-title">
							工作经验：
						</td>
						<td class="table-content">
							一年以下
						</td>
					</tr>
					<tr>
						<td class="table-title">
							公司地址：
						</td>
						<td class="table-content">
							上海市沪太路5018弄梓坤科技园1号楼1509室
						</td>
					</tr>
					<tr>
						<td class="table-title">
							薪资待遇：
						</td>
						<td class="table-content">
							{$graduate.salary_scope}
						</td>
					</tr>
				</table>
				
				<switch name='graduate.urgency'>
					<case value="2">
					<div class="template-card-imgbox">
					<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
					</div>
					</case>
					<case value="3">
					<div class="template-card-imgbox">
					<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
					<img src="__PC_STATIC__/imgs/rush-2.png" alt="rush">
					</div>
					</case>
					<default />
				</switch>

			</div>
		</div>
		</div>
		</foreach>
		

	</div>
</div>