<script>document.title = "校园招聘";</script>
<div class="banner-div banner-4">
	<div class="banner-content-4 vertical-center">
		校园招聘
	</div>
	<div class="banner-mask-4 vertical-center">

	</div>
</div>

<div class="bg-color-3">
	<div class="connection">
		<span>联系电话： 400-9910-540</span>
		<span>企业邮箱： service@maiunsoft.com</span>
		<span>企业QQ： service@maiunsoft.com</span>
	</div>
</div>

<div class="bg-color-5">
	<div class="template-wrap">
		<div class="employ-tabswitch-1">
			<button class="tabswitch-btn switch-active" type="button">校园宣讲</button>
			<button class="tabswitch-btn" type="button">实习招聘</button>
			<button class="tabswitch-btn" type="button">应届生招聘</button>
		</div>

		<div class="drop-down">
			<!-- <select>
                        <option>
                            上海
                        </option>
                        <option>
                            兰州
                        </option>
                        <option>
                            深圳
                        </option>
                    </select> -->
			<div class="default-item">
				上海
			</div>
			<div class="drop-down-item hide">
				上海
			</div>
			<div class="drop-down-item hide">
				兰州
			</div>
			<div class="drop-down-item hide">
				深圳
			</div>
		</div>

		<div class="template-card card-switch-1">
			<div class="template-card-img">
				<span></span>
				<img src="imgs/shanghai.png" alt="">
			</div>
			<div class="template-card-article-3">
				<h3 class="job-title">上海大学</h3>
				<table>
					<tr>
						<td class="table-title">
							宣讲主题：
						</td>
						<td class="table-content">
							参与设计、审核、优化公司IT系统以及各应用系统的体系架构；
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲时间：
						</td>
						<td class="table-content">
							2017.12.23
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲嘉宾：
						</td>
						<td class="table-content">
							黎明
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲地址：
						</td>
						<td class="table-content">
							上海宝山区梓坤科技园1号楼南区
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="template-card card-switch-1">
			<div class="template-card-img">
				<span></span>
				<img src="imgs/shanghai.png" alt="">
			</div>
			<div class="template-card-article-3">
				<h3 class="job-title">兰州大学</h3>
				<table>
					<tr>
						<td class="table-title">
							宣讲主题：
						</td>
						<td class="table-content">
							全面负责公司运维项目的系统升级、扩容需求与资源落实，配合开发需求，测试、调整运维平台；
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲时间：
						</td>
						<td class="table-content">
							2016.12.30
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲嘉宾：
						</td>
						<td class="table-content">
							刘希
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲地址：
						</td>
						<td class="table-content">
							上海宝山区梓坤科技园1号楼南区
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="template-card card-switch-1">
			<div class="template-card-img">
				<span></span>
				<img src="imgs/shanghai.png" alt="">
			</div>
			<div class="template-card-article-3">
				<h3 class="job-title">西北师范大学</h3>
				<table>
					<tr>
						<td class="table-title">
							宣讲主题：
						</td>
						<td class="table-content">
							负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲时间：
						</td>
						<td class="table-content">
							2017.4.6
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲嘉宾：
						</td>
						<td class="table-content">
							雷利
						</td>
					</tr>
					<tr>
						<td class="table-title">
							宣讲地址：
						</td>
						<td class="table-content">
							上海宝山区梓坤科技园1号楼南区
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="template-card card-switch-2 hide">
			<div class="template-card-article-2">
				<h3 class="job-title">Java实习生</h3>
				<table>
					<tr>
						<td class="table-title">
							岗位职责：
						</td>
						<td class="table-content">
							负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
						</td>
					</tr>
					<tr>
						<td class="table-title">
							任职要求：
						</td>
						<td class="table-content">
							HTML5，C语言，C，Html5，C语言，Html
						</td>
					</tr>
					<tr>
						<td class="table-title">
							工作经验：
						</td>
						<td class="table-content">
							一年以下
						</td>
					</tr>
					<tr>
						<td class="table-title">
							公司地址：
						</td>
						<td class="table-content">
							上海宝山梓坤科技园5018号
						</td>
					</tr>
					<tr>
						<td class="table-title">
							薪资待遇：
						</td>
						<td class="table-content">
							5k-10k
						</td>
					</tr>
				</table>
				<div class="template-card-imgbox">
					<img src="./imgs/rush.png" alt="rush">
					<img src="./imgs/rush-2.png" alt="rush">
				</div>
			</div>
		</div>
		<div class="template-card card-switch-2 hide">
			<div class="template-card-article-2">
				<h3 class="job-title">运维实习生</h3>
				<table>
					<tr>
						<td class="table-title">
							岗位职责：
						</td>
						<td class="table-content">
							负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
						</td>
					</tr>
					<tr>
						<td class="table-title">
							任职要求：
						</td>
						<td class="table-content">
							HTML5，C语言，C，Html5，C语言，Html
						</td>
					</tr>
					<tr>
						<td class="table-title">
							工作经验：
						</td>
						<td class="table-content">
							一年以下
						</td>
					</tr>
					<tr>
						<td class="table-title">
							公司地址：
						</td>
						<td class="table-content">
							上海宝山梓坤科技园5018号
						</td>
					</tr>
					<tr>
						<td class="table-title">
							薪资待遇：
						</td>
						<td class="table-content">
							5k-10k
						</td>
					</tr>
				</table>
				<div class="template-card-imgbox">
					<img src="./imgs/rush.png" alt="rush">
					<img src="./imgs/rush-2.png" alt="rush">
				</div>
			</div>
		</div>

		<div class="template-card card-switch-3 hide">
			<div class="template-card-article-2">
				<h3 class="job-title">运维实习生3</h3>
				<table>
					<tr>
						<td class="table-title">
							岗位职责：
						</td>
						<td class="table-content">
							负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
						</td>
					</tr>
					<tr>
						<td class="table-title">
							任职要求：
						</td>
						<td class="table-content">
							HTML5，C语言，C，Html5，C语言，Html
						</td>
					</tr>
					<tr>
						<td class="table-title">
							工作经验：
						</td>
						<td class="table-content">
							一年以下
						</td>
					</tr>
					<tr>
						<td class="table-title">
							公司地址：
						</td>
						<td class="table-content">
							上海宝山梓坤科技园5018号
						</td>
					</tr>
					<tr>
						<td class="table-title">
							薪资待遇：
						</td>
						<td class="table-content">
							5k-10k
						</td>
					</tr>
				</table>
				<div class="template-card-imgbox">
					<img src="./imgs/rush.png" alt="rush">
					<img src="./imgs/rush-2.png" alt="rush">
				</div>
			</div>
		</div>

	</div>
</div>