<script type="text/javascript">
	document.title = "社会招聘"
</script>
<div class="banner-div banner-4">
	<div class="banner-content-4 vertical-center">
		社会招聘
	</div>
	<div class="banner-mask-4 vertical-center">

	</div>
</div>

<div class="bg-color-3">
	<div class="connection">
		<span>联系电话： 021-80392945转014</span>
		<span>邮箱： hr@maiunsoft.com</span>
		<span>企业邮箱： service@maiunsoft.com</span>
	</div>
</div>

<div class="bg-color-5">
	<div class="template-wrap">
		<div class="employ-tabswitch-2">
			<foreach name="socialList" item="type">
				<php>
					$selected = $jobType == $key ? 'switch-active' : '';
					$socialType = $_GET['type'];
				</php>
				<button onClick="getInfo({$socialType},{$key})" class="tabswitch-btn {$selected}" type="button" data-type="{$key}">{$type}</button>
			</foreach>
		</div>

		<div class="drop-down">

			<div class="default-item">{$jobCityList[$jobCity]}</div>
			<foreach name="jobCityList" item="city">
				<php>
					$hide = jobCity != $key ? "hide" : "";
				</php>
				<div class="drop-down-item {$hide}"  data-city="{$key}">{$city}</div>
			</foreach>

		</div>

		<!--市场类-->
		
		
		<foreach name="bazzarList" item="bazzar">
			<div class="template-city" data-city="{$bazzar.work_city}">
			<div class="template-card card-switch-1">
				<div class="template-card-article-2">
					<h3 class="job-title">{$bazzar.name}</h3>
					<table>
						<tr>
							<td class="table-title">
								岗位职责：
							</td>
							<td class="table-content">
								{$bazzar.work_content}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								任职要求：
							</td>
							<td class="table-content">
								{$bazzar.requirements}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								工作经验：
							</td>
							<td class="table-content">
								1-3年
							</td>
						</tr>
						<tr>
							<td class="table-title">
								公司地址：
							</td>
							<td class="table-content">
								上海市沪太路5018弄梓坤科技园1号楼1509室
							</td>
						</tr>
						<tr>
							<td class="table-title">
								薪资待遇：
							</td>
							<td class="table-content">
								{$bazzar.salary_scope}
							</td>
						</tr>
					</table>
					<switch name="bazzar.urgency">
						<case value="2">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
							</div>
						</case>
						<case value="3">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
								<img src="__PC_STATIC__/imgs/rush-2.png" alt="rush">
							</div>
						</case>
						<default />
					</switch>

				</div>
			</div>
			</div>
		</foreach>

		<!--研发类-->
		<foreach name="developmentList" item="development">
			<div class="template-city" data-city="{$development.work_city}">
			<div class="template-card card-switch-2 hide">
				<div class="template-card-article-2">
					<h3 class="job-title">{$development.name}</h3>
					<table>
						<tr>
							<td class="table-title">
								岗位职责：
							</td>
							<td class="table-content">
								{$development.work_content}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								任职要求：
							</td>
							<td class="table-content">
								{$development.requirements}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								工作经验：
							</td>
							<td class="table-content">
								1-3年
							</td>
						</tr>
						<tr>
							<td class="table-title">
								公司地址：
							</td>
							<td class="table-content">
								上海市沪太路5018弄梓坤科技园1号楼1509室
							</td>
						</tr>
						<tr>
							<td class="table-title">
								薪资待遇：
							</td>
							<td class="table-content">
								{$development.salary_scope}
							</td>
						</tr>
					</table>
					<switch name="development.urgency">
						<case value="2">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
							</div>
						</case>
						<case value="3">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
								<img src="__PC_STATIC__/imgs/rush-2.png" alt="rush">
							</div>
						</case>
						<default />
					</switch>

				</div>
			</div>
			</div>
		</foreach>

		<!--业务类-->
		<foreach name="operationList" item="operation">
			<div class="template-city" data-city="{$operation.work_city}">
			<div class="template-card card-switch-3 hide">
				<div class="template-card-article-2">
					<h3 class="job-title">{$operation.name}</h3>
					<table>
						<tr>
							<td class="table-title">
								岗位职责：
							</td>
							<td class="table-content">
								{$operation.work_content}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								任职要求：
							</td>
							<td class="table-content">
								{$operation.requirements}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								工作经验：
							</td>
							<td class="table-content">
								1-3年
							</td>
						</tr>
						<tr>
							<td class="table-title">
								公司地址：
							</td>
							<td class="table-content">
								上海市沪太路5018弄梓坤科技园1号楼1509室
							</td>
						</tr>
						<tr>
							<td class="table-title">
								薪资待遇：
							</td>
							<td class="table-content">
								{$operation.salary_scope}
							</td>
						</tr>
					</table>
					<switch name="operation.urgency">
						<case value="2">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
							</div>
						</case>
						<case value="3">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
								<img src="__PC_STATIC__/imgs/rush-2.png" alt="rush">
							</div>
						</case>
						<default />
					</switch>

				</div>
			</div>
			</div>
		</foreach>

		<!--职能类-->
		<foreach name="functionList" item="function">
			<div class="template-city" data-city="{$function.work_city}">
			<div class="template-card card-switch-4 hide">
				<div class="template-card-article-2">
					<h3 class="job-title">{$function.name}</h3>
					<table>
						<tr>
							<td class="table-title">
								岗位职责：
							</td>
							<td class="table-content">
								{$function.work_content}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								任职要求：
							</td>
							<td class="table-content">
								{$function.requirements}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								工作经验：
							</td>
							<td class="table-content">
								1-3年
							</td>
						</tr>
						<tr>
							<td class="table-title">
								公司地址：
							</td>
							<td class="table-content">
								上海市沪太路5018弄梓坤科技园1号楼1509室
							</td>
						</tr>
						<tr>
							<td class="table-title">
								薪资待遇：
							</td>
							<td class="table-content">
								{$function.salary_scope}
							</td>
						</tr>
					</table>
					<switch name="function.urgency">
						<case value="2">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
							</div>
						</case>
						<case value="3">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
								<img src="__PC_STATIC__/imgs/rush-2.png" alt="rush">
							</div>
						</case>
						<default />
					</switch>

				</div>
			</div>
			</div>
		</foreach>

		<!--管理类-->
		<!--<div class="template-card card-switch-5">
				<div class="template-card-article-2">
					<h3 class="job-title"></h3>
					<table>
						<tr>
							<td class="table-title">
								岗位职责：
							</td>
							<td class="table-content">
								
							</td>
						</tr>
						<tr>
							<td class="table-title">
								任职要求：
							</td>
							<td class="table-content">
								
							</td>
						</tr>
						<tr>
							<td class="table-title">
								工作经验：
							</td>
							<td class="table-content">
								1-3年
							</td>
						</tr>
						<tr>
							<td class="table-title">
								公司地址：
							</td>
							<td class="table-content">
								上海市沪太路5018弄梓坤科技园1号楼1509室
							</td>
						</tr>
						<tr>
							<td class="table-title">
								薪资待遇：
							</td>
							<td class="table-content">
								
							</td>
						</tr>
					</table>
					

				</div>
			</div>-->
		
		
		
		<foreach name="manageList" item="manage">
			<div class="template-city" data-city="{$manage.work_city}">
			<div class="template-card card-switch-5 hide">
				<div class="template-card-article-2">
					<h3 class="job-title">{$manage.name}</h3>
					<table>
						<tr>
							<td class="table-title">
								岗位职责：
							</td>
							<td class="table-content">
								{$manage.work_content}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								任职要求：
							</td>
							<td class="table-content">
								{$manage.requirements}
							</td>
						</tr>
						<tr>
							<td class="table-title">
								工作经验：
							</td>
							<td class="table-content">
								1-3年
							</td>
						</tr>
						<tr>
							<td class="table-title">
								公司地址：
							</td>
							<td class="table-content">
								上海市沪太路5018弄梓坤科技园1号楼1509室
							</td>
						</tr>
						<tr>
							<td class="table-title">
								薪资待遇：
							</td>
							<td class="table-content">
								{$manage.salary_scope}
							</td>
						</tr>
					</table>
					<switch name="manage.urgency">
						<case value="2">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
							</div>
						</case>
						<case value="3">
							<div class="template-card-imgbox">
								<img src="__PC_STATIC__/imgs/rush.png" alt="rush">
								<img src="__PC_STATIC__/imgs/rush-2.png" alt="rush">
							</div>
						</case>
						<default />
					</switch>

				</div>
			</div>
			</div>
		</foreach>
	</div>
</div>

<script type="text/javascript">
	
	function getInfo(type,city){
		
		$.get("{:U(\'Job/action\','','')}",{
			"type":type,
			"city":city
		},
		function(data){
			for(var i=0;i<data.length;i++){
				$(".job-title").html(data[i].name);
				$(".table-content").eq(0).html(data[i].work_content);
				$(".table-content").eq(1).html(data[i].requirements);
				$(".table-content").eq(4).html(data[i].salary_scope);
			}	
		})
	}
	
	
//	function getInfo(type,city){
//		var data  = {"type":type,"city":city};
//		$.ajax({
//			type:"get",
//			url:"{:U(\'job/action\','','')}",
//			data:data,
//			dataType:"json",
//			success:function(data){
//				console.log(data);
//				for(var i=0;i<data.info.length;i++){
//					$(".job-title").html(data.info[i].name);
//					$(".table-content").eq(0).html(data.info[i].work_content);
//					$(".table-content").eq(1).html(data.info[i].requirements);
//					$(".table-content").eq(4).html(data.info[i].salary_scope);
//				}
//				
//			},
//			error:function(){
//				console.log("出错了");
//			}
//			
//		})
//	}
</script>