<!--  主体-->

	<!-- 焦点图 -->
		<div class="banner">
			<img src="__MB_STATIC__/img/md01.png" alt="">
			<div class="title">公司简介</div>
		</div>
		<!-- 公司简介 -->
		<div class="news">
			<h1>公司简介</h1>
			<div class="floor" style="padding-top:0.9rem">
				<h3>脉云软件（上海）有限公司</h3>
				<p>与悉云科技签订战略合作协议与悉云科技签合作协议,与悉云科技签订战略与悉云科技签合作协议与悉云科技签。</p>
				<p>订战略合作协议与悉云科技签订战略合作协云科技签订战略与悉云科技签订战略合作协云科技签订战略合作协.与悉云科技签订战略略与悉云科技签订战略合作协议。</p>
				<a href="##" class="more" data-cont="##">更多动态&gt;&gt;</a>
			</div>
		</div>   <!-- end 公司简介-->

