<script type="text/javascript">document.title='脉云软件 | 联系我们'</script>
<!--<include file="Mobile:Public:TopGuid" />-->
<!-- 焦点图 -->


<div id="main">
<!-- 焦点图 -->
	<div class="banner">
	<img onClick="javascript:;"  src="__MB_STATIC__/img/placehold-img.png" alt="">
	<div class="title">联系方式</div>
	</div>
	<!-- 公司简介 -->

	<div class="news">
		<h1>联系方式</h1>
		<div class="wangluo">
				<div class="floor">
					<h3>上海总部</h3>					
					<table class="table">
						<tr>
							<td class="left" rowspan="2">联系人：</td><td class="right" rowspan="2">王小姐</td>
						</tr>
						<tr>
							
						</tr>
						<tr>
							<td class="left" rowspan="2">电话：</td><td class="right" rowspan="2">400-9910-540</td>
						</tr>
						<tr>
						
						</tr>
						<tr>
							<td class="left">企业邮箱：</td><td class="right">service@maiunsoft.com</td>
						</tr>
						<tr>
							<td class="left">企业地址：</td><td class="right">上海市沪太路5018弄梓坤科技园1号楼1509室</td>
						</tr>
					</table>
				</div>
				
			</div>  <!--end 网络服务-->
	</div>   <!--end news-->
</div>   <!-- end main-->
