
<!-- 焦点图 -->
	<div class="banner">
		<img src="__MB_STATIC__/img/md01.png" alt="">
		<div class="title">企业文化</div>
	</div>
			<!-- 公司简介 -->
		<div class="news">
	
			<div class="floor" style="padding-top:0.9rem">
				<h3>脉云软件（上海）有限公司</h3>
				<p>与悉云科技签订战略合作协议与悉云科技签合作协议,与悉云科技签订战略与悉云科技签合作协议与悉云科技签。</p>
				<p>订战略合作协议与悉云科技签订战略合作协云科技签订战略与悉云科技签订战略合作协云科技签订战略合作协.与悉云科技签订战略略与悉云科技签订战略合作协议。</p>
	
			</div>
				<!-- 企业文化 -->
			<!-- 	<div class="wenhua">
					<div class="bg"></div>
						<table class="table">
							<tr>
								<td class="left" rowspan="4">文化观念：</td><td class="right" rowspan="4">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="4">价值观念：</td><td class="right" rowspan="4">Html5，C语言，Html5，C，Html5，C语言Html5,Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="3">企业精神: </td><td class="right" rowspan="3">上海宝山梓坤科技园1号楼南区上海宝山梓坤科技园1号楼南区上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="3">企业制度：</td><td class="right" rowspan="3">签订战略合作协议,与悉云科技签签订战略合作协议,与悉云科技签签订战略合作协议,与悉云科技签</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="2">文化环境：</td><td class="right" rowspan="2">151888888888签订战略合作协议,与悉云科技签签订战略合作协议,与悉云科技签</td>
							</tr>
							<tr></tr>
						</table>

					<a href="##" class="more">更多详情&gt;&gt;</a>
				</div>	end 企业文化 --> 
			</div>   <!--end information-->
		</div>   <!-- end 公司简介-->

