<script type="text/javascript">document.title='脉云软件 | {$aboutGroupList[0].name}'</script>
<!--<include file="Mobile:Public:TopGuid" />-->
<!-- 焦点图 -->
<div class="banner">
	<img src="{:UploadUrl('slider')}{$aboutGroupList[0].image}" alt="">
	<div class="title">{$aboutGroupList[0].name}</div>
</div>
<!-- 公司简介 -->
<div class="news">
	<h1>{$aboutGroupList[0].name}</h1>
	<div class="floor" style="padding-top:0.9rem">
		<h3>{$aboutGroupList[0].name}</h3>
		<p>{$aboutContentList[$group_id].content}</p>
		<!--<a href="##" class="more" data-cont="kechixu-data_floor1">更多详情&gt;&gt;</a>-->
	</div>
</div>
<!-- end 公司简介-->
