<!--  主体-->

<!-- 焦点图 -->
	<div class="banner">
		<img src="__MB_STATIC__/img/md01.png" alt="">
		<div class="title">服务网络</div>
	</div>
	<!-- 公司简介 -->

	<div class="news">
		<h1>服务站点</h1>
		<div class="floor" style="padding-top:0.9rem">
			<h3>上海</h3>
			<p>与悉云科技签订战略合作协议与悉云科技签合作协议,与悉云科技签订战略与悉云科技签合作协议与悉云科技签。</p>
			<p>订战略合作协议与悉云科技签订战略合作协云科技签订战略与悉云科技签订战略合作协云科技签订战略合作协.与悉云科技签订战略略与悉云科技签订战略合作协议。</p>
			<a href="##" class="more" data-cont="fuwuwangluo-data_floor1">更多详情&gt;&gt;</a>
		</div>
			<!-- 网络服务 -->
		<div class="wangluo">
				<div class="floor">
					<h3>江西</h3>					
					<table class="table">
						<tr>
							<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
						</tr>
						<tr>
							
						</tr>
						<tr>
							<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
						</tr>
						<tr>
						
						</tr>
						<tr>
							<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
						</tr>
						<tr>
							<td class="left">公司地址：</td><td class="right">151888888888</td>
						</tr>
						<tr>
							<td class="left">薪资待遇：</td><td class="right">151888888888</td>
						</tr>
					</table>
					<a href="##" class="more" data-cont="fuwuwangluo-data_floor1">更多详情&gt;&gt;</a>
				</div>
				<div class="floor">
					<h3>兰州</h3>					
					<table class="table">
						<tr>
							<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
						</tr>
						<tr>
							
						</tr>
						<tr>
							<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
						</tr>
						<tr>
						
						</tr>
						<tr>
							<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
						</tr>
						<tr>
							<td class="left">公司地址：</td><td class="right">151888888888</td>
						</tr>
						<tr>
							<td class="left">薪资待遇：</td><td class="right">151888888888</td>
						</tr>
					</table>
					<a href="##" class="more" data-cont="fuwuwangluo-data_floor1">更多详情&gt;&gt;</a>
				</div>
			</div>  <!--end 网络服务-->
	</div>   <!--end news-->

