<header class="clear">
	<a href="{:U(\'Index/index\')}" class="logo">Maiunsoft</a>
	<nav class="clear">
		<a href="##" class="user"></a>
		<a href="##" class="menu"></a>
			<div class="bg"></div>
			<div class="menu_list" id="wrapper">
				<div id="scroller">
					<ul class="item">
						<li>
							<a href="{:U(\'Index/index\')}" class="shouye">首页</a>
							<em></em>
						</li>	
					</ul>
					<ul class="item">
						<li>
							<span>脉点<i></i></span>
							<a href="{:U(\'Article/index\')}">{$test}</a>
							
							
							<a href="{:U(\'Article/index\')}">合作动态</a>
							<a href="{:U(\'Article/list\')}">行业风向</a>
							<a href="{:U(\'Article/observe\')}">业务洞察</a>
						</li>
					</ul>
					<ul class="item">
						<li>
							<span>服务<i></i></span>
							<a href="{:U(\'Service/consult\')}" class="has">咨询</a>
							<div class="three">
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
							</div>

							<a href="{:U(\'Service/dev\')}" class="has">开发</a>
							<div class="three">
								<a href="ruanjiankaifa">软件开发</a>
								<a href="ruanjiankaifa">软件开发</a>
								<a href="ruanjiankaifa">软件开发</a>
							</div>

							<a href="{:U(\'Service/maintenance\')}" class="has">运维</a>
							<div class="three">
								<a href="zhuomianyunwei">桌面运维</a>
								<a href="zhuomianyunwei">桌面运维</a>
								<a href="zhuomianyunwei">桌面运维</a>
							</div>

							<a href="{:U(\'Service/train\')}" class="has">培训</a>
							<div class="three">
								<a href="peixun">IT培训</a>
								<a href="peixun">IT培训</a>
								<a href="peixun">IT培训</a>
							</div>
						</li>
					</ul>
					<ul class="item">
						<li class="kai">
							<span>客户<i></i></span>
							<a href="{:U(\'Customer/finance\')}">金融</a>
							<a href="{:U(\'Customer/edu\')}">教育</a>
							<a href="{:U(\'Customer/consult\')}">咨询</a>
							<a href="{:U(\'Customer/engineering\')}">工程</a>
						</li>
					</ul>
					<ul class="item">
						<li>
						<span>招聘<i></i></span>
							<a href="{:U(\'Job/school\')}">校园招聘</a>
							<a href="{:U(\'Job/social\')}">社会招聘</a>
						</li>
					</ul>
					<ul class="item">
						<li>
							<span>关于<i></i></span>
							<a href="{:U(\'Company/about\')}">公司简介</a>
							<a href="{:U(\'Company/service\')}">服务网络</a>
							<a href="{:U(\'Company/cooperation\')}">合作伙伴</a>
							<a href="{:U(\'Company/culture\')}">企业文化</a>
							<a href="{:U(\'Company/sustainable\')}">可持续发展</a>
						</li>
					</ul>				
				</div>
			</div>
	</nav>
</header>
