<form role="form" action="{:U('my/save_password')}" method="post">

    <div class="col-lg-6" style="text-align:center">
        <div class="c-group">
            <label>当前密码</label>
            <input type="password" name="old_password" />
        </div>
        <div class="c-group">
            <label>新密码</label>
            <input type="password" name="new_password_1" />
        </div>
        <div class="c-group">
            <label>确认密码</label>
            <input type="password" name="new_password_2" />
        </div>
        <div class="c-group">
            <button type="submit" class="btn-save">修改密码</button>
        </div>
    </div>

</form>