<script>

function del_param(id) {
    location.href = '__URL__/delete_param?id=' + id;
}

$(document).ready(function(){
    $("#productSelector").change(function(){
        var url = "{:U('product/images_admin')}?id=" + $("#productSelector").val();
        window.location.href = url;
    });
    $("#addParamBtn").click(function(){
        $("#editParamModal").modal();  
    });
});

</script>

<section class="col-lg-12">
    <ul class="panel-tab">
        <html:select name="product" title="name" options="productList" selected="productId" id="productSelector"/>
        <a class="pull-right fa fa-plus create-btn" id="addParamBtn">&nbsp;上传图片</a>
    </ul>
    <div class="row">
        <foreach name="imageList" item="image">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{:UploadUrl('product')}{$productId}/{$image}" style="width:100%">
                    <div class="card-block" style="padding-top:10px;text-align:center;">
                        <if condition="$productThumbnail neq $image">
                            <a href="{:U('product/cover',array('id'=>$productId,'image'=>$image))}">设为封面</a>
                        </if>
                        <a href="{:U('product/delete_image',array('id'=>$productId,'image'=>$image))}">删除</a>
                    </div>
                </div>
            </div>
        </foreach>
    </div>
    <div class="page">{$page_show}</div>
</section>

<!-- 编辑产品信息窗口 -->
<div class="modal" id="editParamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px">
            <form action="{:U('product/upload_image')}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title fa fa-cube" id="myModalLabel">&nbsp;添加参数</h4>
                </div>
                <div class="modal-body" style="overflow:auto;">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>
                                选择图片 <i class="fa fa-star"></i>
                            </label>
                            <input type="file" name="product_image" class="form-control" style="height:60px;padding:10px;" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="product_id" value="{$productId}">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>