<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
			<title>脉云软件 | {$_PageHeader.title}</title>
			<meta name="keyword" content="{$_PageHeader.keywords}">
    		<meta name="description" content="{$_PageHeader.description}">
			<link rel="shortcut icon" href="__PC_STATIC__/imgs/favicon.png" >
			<link rel="stylesheet" href="__PC_STATIC__/css/swiper.min.css">
			<link rel="stylesheet" href="__PC_STATIC__/css/demo.css">
	</head>

	<body>
		<nav>
			<img onClick="location='{:U(\'index/index\')}'" class="vertical-center" src="__PC_STATIC__/imgs/logo.png" alt="logo" />
			<div class="nav-items">
				<ul>
					<li>
						<div class="pointer">
							<span>脉点</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<foreach name="mdGroupList" item="md">
										<li onClick="location='{:U(\'article/index?gid=\'.$key)}'">
											{$md.name}
											<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									</foreach>

								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-div vertical-center">
									<foreach name="mdArticleList" item="article">
										<div class="hide">
											<b>{$article.title}</b>
											<div class="menu-img">
												<img src="{:UploadUrl('article')}{$article.image}" alt="">
											</div>
											<div class="menu-article">
												<span>{$article.bref|subtext=140}</span>
												<a href="{:U('article/detail?id='.$article['id'])}">更多</a>
											</div>
										</div>
									</foreach>
								</div>
							</div>
						</div>
					</li>
					<!--
                 -->
					<li>
						<div class="pointer">
							<span>服务</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<foreach name="serviceGroupList" item="group">
										<li onClick="location='{:U(\'article/index?gid=\'.$key)}'" style="padding-left:20px !important">{$group.name}
											<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow">
										</li>
									</foreach>
								</ul>

							</div>
							<div class="menu-right">
								<div class="menu-ul vertical-center">
									<foreach name="serviceGroupList" item="group">
										<ul class="hide">
											<foreach name="group.articleList" item="article">
												<li onClick="location='{:U(\'article/detail?id=\'.$key)}'">{$article.title}</li>
											</foreach>
										</ul>
									</foreach>
								</div>
								<div class="nav-4-empty-block hide"></div>
								<div class="menu-content vertical-center">
									<foreach name="serviceGroupList" item="group">
										<div>
											<foreach name="group.articleList" item="article">
												<div class="hide">
													<b>{$article.title}</b><br />
													<p>{$article.bref}</p>
													 <a href="{:U(\'article/detail?id=\'.$key)}">更多</a> 
												</div>
											</foreach>
										</div>
									</foreach>
								</div>
							</div>
						</div>
					</li>
					<!--
                 -->
					<li>
						<div class="pointer">
							<span>案例</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<foreach name="caseGroupList" item="group">
										<li onClick="location='{:U(\'article/index?gid=\'.$key)}'">{$group.name}
											<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow">
										</li>
									</foreach>
								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-div vertical-center">
									<foreach name="caseGroupList" item="group">
										<div class="hide">
											<b>{$group.lastArticle.title}</b>
											<div class="menu-img">
												<img src="{:UploadUrl('article')}{$group.lastArticle.image}" alt="">
											</div>
											<div class="menu-article">
												<span>{$group.lastArticle.bref|subtext=150}</span>
												<a href="{:U('article/detail?id='.$group['lastArticle']['id'])}">更多</a>
											</div>
										</div>
									</foreach>
								</div>
							</div>
						</div>
					</li>

					<!--招聘-->
					<li>
						<div class="pointer">
							<span>招聘</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<li onclick="location='{:U(\'Job/school',array('type'=>0),'')}'">校园招聘<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									<li onclick="location='{:U(\'Job/social',array('type'=>1),'')}'">社会招聘<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-ul menu-ul-2">
									<ul class="hide">
										<li onclick="location='{:U(\'Job/school\',array('type'=>0),'')}'">校园宣讲<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
										<li onclick="location='{:U(\'Job/school\',array('type'=>1),'')}'">实习生招聘<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
										<li onclick="location='{:U(\'Job/school\',array('type'=>2),'')}'">应届生招聘<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									</ul>
									<ul class="hide">
										<foreach name="jobTypeList" item="type">
											<li onClick="location='{:U(\'job/social?type=\'.$key,'','')}'">{$type}<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
										</foreach>
									</ul>
								</div>
								<div class="nav-4-empty-block hide"></div>
								<div class="menu-content vertical-center job">
									<div>

										<foreach name="schoolNeed" item="scNeed">
											<div class="hide">
												<b>{$scNeed.name}</b><br />
												<p>
													{$scNeed.requirements}
												</p>
											</div>
										</foreach>

									</div>
									<div>
										<foreach name="socialNeed" item="soNeed">
											<div class="hide">
												<b>{$soNeed.name}</b>
												<p>
													{$soNeed.requirements}
												</p>
											</div>
										</foreach>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--关于-->
					<li>
						<div class="pointer">
							<span>关于</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<foreach name="_aboutGroupList" item="ab">
										<li onclick="location='{:U(\'Company/index\',array('id'=>$ab['id']))}'">{$ab.name}<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									</foreach>
									<li onClick="location='{:U(\'Company/contact\')}'">联系方式<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-about vertical-center">
									<foreach name="_aboutGroupList" item="abArticle">
										<div class="hide">
											<b>{$abArticle.lastArticle.title}</b>
											<span>{$abArticle.lastArticle.bref}</span>
											<a href="{:U(\'Company/index\',array('id'=>$abArticle['id']),'')}">更多</a>
										</div>
									</foreach>

									<div class="hide">
										<span>
											<b>联系方式</b><br /><br /><br />
                                        	<p>客服中心： 400-9910-560</p>
											<p>人事中心： 021-80392945转014</p>
											<p>商务合作： 021-80392945转00</p>
											<p>企业地址：上海市沪太路5018弄梓坤科技园1号楼1509室</p>
											<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兰州市天水中路8号2号楼11层</p>
                                       </span>
									</div>
								</div>
							</div>
							<!-- menu-right ends -->
						</div>
					</li>
				</ul>
			</div>
			<div class="nav-menu vertical-center">
				<input class="search-input" type="text" placeholder="搜索" />
				<button class="search-btn"></button>
				<!--登录接口-->
				<!--<a class="search-a" href="#"><img class="icon-menu" src="__PC_STATIC__/imgs/menu.png" alt="menu" /></a>-->
			</div>
		</nav>

		{__CONTENT__}

		<div class="bg-color-7" style="background:#fff;">
			<div class="section-four">
				<div class="link-part link-about">
					<b>关于</b>
					<foreach name="_aboutGroupList" item="group">
						<p onClick="location='{:U(\'Company/index/?id=\'.$group['id'])}'">{$group.name}</p>
					</foreach>
					<p onClick="location='{:U(\'Company/contact\')}'">联系方式</p>
				</div>
				<div class="link-part link-cooperation">
					<b>服务</b>
					<foreach name="serviceGroupList" item="group">
						<p onClick="location='{:U(\'article/index?gid=\'.$group['id'])}'">{$group.name}</p>
					</foreach>
						
				</div>
				<div class="link-part link-news">
					<b>脉点</b>
					<foreach name="mdGroupList" item="group">
						<p onClick="location='{:U(\'article/index?gid=\'.$group['id'])}'">{$group.name}</p>
					</foreach>
				</div>
				<div class="link-part link-mobile">
					<b>移动脉云</b>
					<p><img src="__PC_STATIC__/imgs/qcode.jpg" alt="maiyun mobile QRCode" width="91" height="91"></p>
				</div>
				<div class="link-part link-global">
					<!-- <b>聚焦数字世界 服务现代生活</b> -->
					<b>联系我们</b>
					<!-- <p><img src="./imgs/world-map.png" alt="world map"></p> -->
					<p>联系电话： 400-9910-560</p>
					<p>商务合作： 021-80392945转001</p>
					<p>企业邮箱： service@maiunsoft.com</p>
					<p>企业地址：上海市沪太路5018弄梓坤科技园1号楼15层</p>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer-content">
				<p>
					版权所有脉云（上海）有限公司
				</p>
				<p>
					<a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备14051784号</a>
				</p>
				<a href="mailto:service@maiunsoft.com"><img src="__PC_STATIC__/imgs/icon-email.png" alt="email-icon"></a>
				<a><img src="__PC_STATIC__/imgs/icon-qq.png" alt="qq-icon"></a>
				<a href="http://weibo.com/mainusoft"><img src="__PC_STATIC__/imgs/icon-weibo.png" alt="weibo-icon"></a>
			</div>
		</footer>
		
		<script type="text/javascript">
			window.onload = function(){
				var banner_4 = document.getElementsByClassName("banner-4")[0];
				var menu_mask = document.getElementsByClassName("menu-mask");
				
				if(banner_4){
					var height = banner_4.offsetHeight;
					for(var i = 0;i<5;i++){
						
						menu_mask[i].style.height = height+"px";
					}
					
					
				}
			}
		</script>
		
		
		<script src="__PC_STATIC__/js/jquery-3.1.1.min.js"></script>
		<script src="__PC_STATIC__/js/swiper.min.js"></script>
		<script src="__PC_STATIC__/js/main.js"></script>
	</body>

</html>