<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
			<title>脉云首页</title>
			<link rel="stylesheet" href="__PC_STATIC__/css/swiper.min.css">
			<link rel="stylesheet" href="__PC_STATIC__/css/demo.css">
	</head>

	<body>
		<nav>
			<img onClick="location='{:U(\'index/index\')}'" class="vertical-center" src="__PC_STATIC__/imgs/logo.png" alt="logo" />
			<div class="nav-items">
				<ul>
					<li>
						<div class="pointer">
							<span>脉点</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<!--<foreach name="mdGroupList" item="md">
										<li onClick="location='{:U(\'article/index?gid=\'.$key)}'">
											{$md.name}
											<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									</foreach>-->
									
									<li onClick="location='http://127.0.0.1/www.maiunsoft.com/Article/list'">行业风向<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='http://127.0.0.1/www.maiunsoft.com/Article/observe'">业务洞察<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='http://127.0.0.1/www.maiunsoft.com/Article/list'">技术前沿<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									<li onClick="location='http://127.0.0.1/www.maiunsoft.com/Article/detail'">公司动态<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
								
								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-div vertical-center">
									<foreach name="mdArticleList" item="article">
										<div class="hide">
											<b>{$article.title}</b>
											<div class="menu-img">
												<img src="{:UploadUrl('article')}{$article.image}" alt="">
											</div>
											<div class="menu-article">
												<span>{$article.bref}</span>
												<a href="{:U('article/detail?id='.$article['id'])}">更多</a>
											</div>
										</div>
									</foreach>
								</div>
							</div>
						</div>
					</li>
					<!--
                 -->
					<li>
						<div class="pointer">
							<span>服务</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<!--<ul>
									<foreach name="serviceGroupList" item="group">
										<li onClick="location='{:U(\'article/index?gid=\'.$key)}'" style="padding-left:20px !important">{$group.name}
											<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow">
										</li>
									</foreach>
								</ul>-->
								<ul>
                                    <li onClick="location='http://127.0.0.1/www.maiunsoft.com/Service/consult'">咨询<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='http://127.0.0.1/www.maiunsoft.com/Service/dev'">开发<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='http://127.0.0.1/www.maiunsoft.com/Service/maintenance'">运维<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='http://127.0.0.1/www.maiunsoft.com/Service/train'">培训<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
							</div>
							<div class="menu-right">
								<div class="menu-ul vertical-center">
									<foreach name="serviceGroupList" item="group">
										<ul class="hide">
											<foreach name="group.articleList" item="article">
												<li onClick="location='{:U(\'article/detail?id=\'.$key)}'">{$article.title}</li>
											</foreach>
										</ul>
									</foreach>
								</div>
								<div class="nav-4-empty-block hide"></div>
								<div class="menu-content vertical-center">
									<foreach name="serviceGroupList" item="group">
										<div>
											<foreach name="group.articleList" item="article">
												<div class="hide">
													<b>{$article.title}</b><br />
													<p>{$article.bref}</p>
													<!-- <a href="./service-consult">更多</a> -->
												</div>
											</foreach>
										</div>
									</foreach>
								</div>
							</div>
						</div>
					</li>
					<!--
                 -->
					<li>
						<div class="pointer">
							<span>案例</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<foreach name="caseGroupList" item="group">
										<li onClick="location='{:U(\'article/index?gid=\'.$key)}'">{$group.name}
											<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									</foreach>
								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-div vertical-center">
									<foreach name="caseGroupList" item="group">
										<div class="hide">
											<b>{$group.lastArticle.title}</b>
											<div class="menu-img">
												<img src="__PC_STATIC__/imgs/mht-1.jpg" alt="">
											</div>
											<div class="menu-article">
												<span>{$group.lastArticle.bref}</span>
												<a href="{:U('article/detail?id='.$group['lastArticle']['id'])}">更多</a>
											</div>
										</div>
									</foreach>
								</div>
							</div>
						</div>
					</li>
					<!--
                 -->
					<li>
						<div class="pointer">
							<span>招聘</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<li onclick="location='http://127.0.0.1/www.maiunsoft.com/Job/school'">校园招聘<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									<li onclick="location='http://127.0.0.1/www.maiunsoft.com/Job/social'">社会招聘<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-ul menu-ul-2">
									<ul class="hide">
										<li data-href="http://127.0.0.1/www.maiunsoft.com/Job/detail">校园宣讲<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
										<li data-href="http://127.0.0.1/www.maiunsoft.com/Job/school">实习生招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
										<li data-href="http://127.0.0.1/www.maiunsoft.com/Job/school">应届生招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
									</ul>
									<ul class="hide">
										<foreach name="jobTypeList" item="type">
											<li onClick="location='{:U(\'job/social?type=\'.$key)}'">{$type}<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
										</foreach>
									</ul>
								</div>
								<div class="nav-4-empty-block hide"></div>
								<div class="menu-content vertical-center">
									<div>
										<div class="hide">
											<b>任职要求</b><br />
											<p>
												0-0 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
										<div class="hide">
											<b>任职要求</b><br />
											<p>
												0-1 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
										<div class="hide">
											<b>任职要求</b><br />
											<p>
												0-2 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
									</div>
									<div>
										<div class="hide">
											<b>任职要求</b><br />
											<p>
												1-0 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
										<div class="hide">
											<b>任职要求</b><br />
											<p>
												1-1 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
										<div class="hide">
											<b>任职要求</b><br />
											<p>
												1-2 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
										<div class="hide">
											<b>任职要求</b><br />
											<p>
												1-3 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
										<div class="hide">
											<b>与犀云签订战略合作协议 3-1-2</b><br />
											<p>
												1-4 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言 html5，c语言，html5，c语言
											</p>
											<!-- <a href="#">更多</a> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="pointer">
							<span>关于</span>
						</div>
						<div class="menu-mask hide">
							<div class="menu-left">
								<ul>
									<li onclick="location='http://127.0.0.1/www.maiunsoft.com/Company/about'">公司简介<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									<li onclick="location='http://127.0.0.1/www.maiunsoft.com/Company/service'">服务网络<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									<li onclick="location='http://127.0.0.1/www.maiunsoft.com/Company/cooperation'">合作伙伴<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
									<li onclick="location='http://127.0.0.1/www.maiunsoft.com/Company/culture'">企业文化<img class="hide vertical-center" src="__PC_STATIC__/imgs/right-arrow.png" alt="right-arrow"></li>
								</ul>
							</div>
							<div class="menu-right">
								<div class="menu-about vertical-center">
									<div class="hide">
										<b>脉云软件（上海）有限公司</b>
										<span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
										<a href="./Company/about">更多</a>
									</div>
									<div class="hide">
										<b>脉云软件（上海）有限公司</b>
										<span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
										<a href="./about1">更多</a>
									</div>
									<div class="hide">
										<b>脉云软件（上海）有限公司</b>
										<span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
										<a href="./about2">更多</a>
									</div>
									<div class="hide">
										<b>脉云软件（上海）有限公司</b>
										<span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
										<a href="./about3">更多</a>
									</div>
								</div>
							</div>
							<!-- menu-right ends -->
						</div>
					</li>
				</ul>
			</div>
			<div class="nav-menu vertical-center">
				<input class="search-input" type="text" placeholder="搜索" />
				<button class="search-btn"></button>
				<a class="search-a" href="#"><img class="icon-menu" src="__PC_STATIC__/imgs/menu.png" alt="menu" /></a>
			</div>
		</nav>

		{__CONTENT__}
		
		<div class="bg-color-7" style="background:#fff;">
			<div class="section-four">
				<div class="link-part link-about">
					<b>关于</b>
					<p>公司简介</p>
					<p>服务网络</p>
					<p>合作伙伴</p>
					<p>企业文化</p>
				</div>
				<div class="link-part link-cooperation">
					<b>服务</b>
					<foreach name="serviceGroupList" item="group">
						<p>{$group.name}</p>
					</foreach>
				</div>
				<div class="link-part link-news">
					<b>合作</b>
					<foreach name="partnerGroupList" item="group">
						<p>{$group.name}</p>
					</foreach>
				</div>
				<div class="link-part link-mobile">
					<b>移动脉云</b>
					<p><img src="__PC_STATIC__/imgs/qcode.png" alt="maiyun mobile QRCode"></p>
				</div>
				<div class="link-part link-global">
					<!-- <b>聚焦数字世界 服务现代生活</b> -->
					<b>联系方式</b>
					<!-- <p><img src="./imgs/world-map.png" alt="world map"></p> -->
					<p>联系电话： 400-9910-540</p>
					<p>企业邮箱： service@maiunsoft.com</p>
					<p>企业QQ： service@maiunsoft.com</p>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer-content">
				<p>
					版权所有脉云（上海）有限公司
				</p>
				<p>
					沪ICP备14051784号
				</p>
				<a><img src="__PC_STATIC__/imgs/icon-email.png" alt="email-icon"></a>
				<a><img src="__PC_STATIC__/imgs/icon-qq.png" alt="qq-icon"></a>
				<a><img src="__PC_STATIC__/imgs/icon-weibo.png" alt="weibo-icon"></a>
			</div>
		</footer>

		<script src="__PC_STATIC__/js/jquery-3.1.1.min.js"></script>
		<script src="__PC_STATIC__/js/swiper.min.js"></script>
		<script src="__PC_STATIC__/js/main.js"></script>
	</body>

</html>