<script type="text/javascript">
       	document.title="联系方式"
       </script>
       
       <div class="banner-div banner-4">
            <div class="banner-content-4 vertical-center">
                   联系方式
            </div>
            <div class="banner-mask-4 vertical-center">

            </div>
        </div>

<div class="bg-color-5">
    <div class="template-wrap">
<div class="template-card card-switch-1">
	<div class="template-card-img">
		<span></span>
		<img src="__PC_STATIC__/imgs/shanghai.png" alt="">
	</div>
	<div class="template-card-article-3">
		<h3 class="job-title">上海总部</h3>
		<table>
			<tr>
				<td class="table-title">
					联系人：
				</td>
				<td class="table-content">
					 王小姐
				</td>
			</tr>
			<tr>
				<td class="table-title">
					电话：
				</td>
				<td class="table-content">
					400-9910-540
				</td>
			</tr>
			<tr>
				<td class="table-title">
					企业邮箱：
				</td>
				<td class="table-content">
					service@maiunsoft.com
				</td>
			</tr>
			<tr>
				<td class="table-title">
					企业地址：
				</td>
				<td class="table-content">
					上海市沪太路5018弄梓坤科技园1号楼1509室
				</td>
			</tr>
		</table>
	</div>
</div>
</div>
</div>