<script type="text/javascript">document.title='脉云软件 | {$aboutGroupList[0].name}'</script>
<div class="banner-div banner-4" style="background-image: url({:UploadUrl('slider')}{$aboutGroupList[0].image});">
	<div class="banner-content-4 vertical-center">
		{$aboutGroupList[0].name}
	</div>
	<div class="banner-mask-4 vertical-center">

	</div>
</div>

<div class="bg-color-3">
	<div class="connection">
		<span>联系电话： 400-9910-540</span>
		<span>企业邮箱： service@maiunsoft.com</span>
		<span>企业QQ： service@maiunsoft.com</span>
	</div>
</div>

<div class="bg-color-5">
	<div class="template-wrap">

		<div class="template-ceil">
			<b>{$aboutGroupList[0].name}</b>
			<div class="template-ceil-img">
				<img src="{:UploadUrl('slider')}{$aboutContentList[$group_id].image}" alt="图片未找到">
			</div>
			<p>
				{$aboutContentList[$group_id].content}
				
			</p>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>
