
/* Import fonts */

@font-face {
    font-family: 'frutigernext';
    src: url('../assets/CBG/fonts/LT_54361.eot');
    src: url('../assets/CBG/fonts/LT_54361.eot?') format('embedded-opentype'), url('../assets/CBG/fonts/LT_54361.woff') format('woff'), url('../assets/CBG/fonts/LT_54361.ttf') format('truetype'), url('../assets/CBG/fonts/LT_54361.svg') format('svg');
}

body {
    color: #666666;
    margin: 0px !important;
    font-size: 14px;
    font-family: frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-weight: 300;
    background: #fff;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #c43c06;
    color: #fff;
}

::-moz-selection {
    background: #c43c06;
    color: #fff;
}

a {
    color: #444e67;
    font-family: frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

a:hover {
    color: #c43c06;
}

p {
    line-height: 30px;
    font-family: frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    font-size:27px;
    margin-bottom:10px; 
}

h2{
    font-size:23px;
    margin-bottom:10px; 
}

h3{
    font-size: 19px
}

.container{
    width: 90%;
    margin-left: 5%;
}


/*分割线*/

.d-line {
    width: 100%;
    height: 1px;
    background: #eee;
}

/* 主菜单 */

.header {
    height: 80px !important;
    width: 100%;
    background: none;
    overflow: auto;
}

.header .logo {
    float: left;
    margin-left: 0px;
    overflow: auto;
    width: 175px;
    height: 35px;
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
}

.header .menus {
    float: right;
    margin-top: 18px;
}

.header .menus li {
    float: left;
    margin: 10px 5px;
}

.header .menus li a {
    font-size: 16px;
    letter-spacing: 1px;
    color: #666;
}

.header .menus li a:hover,
.header .menus li.active a {
    color: #c43c06;
    text-decoration: none;
}

.header .menus li a img {
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

.nav {
    height: 60px;
    background: #ccc;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    opacity: 0.8;
    z-index: 999;
}

.nav .list{

}

.nav .list li {
    float: left;
    list-style: none;
    overflow: auto;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 10%;
}

.nav .list li:hover{
    cursor: pointer;
}

.nav .list a {
    float: left;
    display: block;
    height: 59px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    color: #222;
    letter-spacing: 2px;
    padding-top: 18px;
}

.nav .list li.fwzd a {
    background: #fff !important;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #555;
}

.nav .list a:hover,
.nav .list .now {
    cursor: hand;
    color: #c43c06;
    background: #f9f9f9;
    border-bottom: 1px solid #c43c06;
}

.nav .list form.search-box {
    overflow: auto;
    border: 1px solid #eee;
    float: right;
    margin-top: 0px !important;
}

.nav .list form.search-box input.keywords {
    height: 35px;
    width: 200px;
    padding-left: 20px;
    border: none;
    float: left;
    background: #f9f9f9;
}

.nav .list form.search-box input.submit {
    height: 35px;
    width: 50px;
    background-image: url(../img/icon_find.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    color: #fff;
    border: none;
    float: left;
}

.nav-box {
    position: relative;
    overflow: auto !important;
    z-index: 1;
    background: #f9f9f9;
    width: 100%;
}

.nav-box .cont {
    position: relative;
    width: 100%;
    overflow: auto !important;
}


/* sublist */

.sublist {
    float: left;
    margin-left: 0px;
    overflow: auto;
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
}

.sublist li {
    float: left;
    display: block;
}

.sublist li a.sub-title {
    font-family: frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #c43c06 !important;
    font-weight: 550;
    margin-bottom: 5px;
    margin-top: 0px;
    display: block;
}

.sublist li ul.sub-sublist{
    float: left;
    margin-left: 0px;
    padding: 0px;
    overflow: auto;
}

.sublist li ul.sub-sublist li {
    text-align: left;
    list-style: none;
    width: 100%;
    display: block;
}

.sublist li ul.sub-sublist .sub-subitem{
    height: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    overflow: hidden;
}

.sublist li ul.sub-sublist li a {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-family: frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    text-decoration: none;
    display: inline-block;
}

.sublist li ul.sub-sublist li a:hover {
    color: #6c5143;
}

.sublist li ul.hydc li a {
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
}

.sublist li ul.hydc li a:hover {
    text-decoration: none;
    color: #c43c06;
    background: #fff;
}

.sublist li .card {
    float: left;
    overflow: hidden;
    display: block;
    border: 1px solid #ddd;
    margin: 0px;
}

.sublist li .card img {
    margin-top: 0px;
    width: 100%;
    /*height: 180px;*/
}

.sublist li .card h3 {
    width: 100%;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 2px;
    padding-left: 5px;
    display: block;
}

.sublist li .card p {
    width: 100%;
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 25px !important;
    padding: 5px;
    height: 130px;
    color: #666;
    display: block;
}

.sublist li p.company {
    font-size: 16px;
    line-height: 33px;
    color: #333;
    text-align: justify;
    text-justify: inter-ideograph;
}

.sublist li a.company-more {
    font-size: 17px;
    margin-top: 15px;
    color: #c43c06;
    letter-spacing: 2px;
}





.page-title {
    width: 100%;
    font-size: 25px;
    font-weight: 750;
    letter-spacing: 2px;
    margin-top: 10px;
    color: #000；
}

.page-bref {
    width: 100%;
    margin-top: 0px;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    padding: 20px;
    border: 1px solid #ddd;
    color: #666;
    overflow: auto;
}

.page-content{
    line-height: 30px !important;
    font-size: 16px;
    display: block;
    padding-left: 10px !important;
}

.page-ask{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-right: 3px;
    background: #c43c06;
}

/* 文章列表 */

.article-list li{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ddd;
}
.article-list li a{
    width: 100%;
    font-size: 18px;
    font-weight:550; 
    line-height: 30px;
}

.article-list li p{
    width: 100%;
    text-align: justify;
    line-height: 30px;
    font-size: 15px;
    padding-left: 20px;
}


/* list */
.item-list{
    margin-top: 20px;
}

.item-list .item{
    border:1px dotted #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    display: block;
}

.item-list .item:hover{
    background: #f9f9f9;
}
.item-list .item a{
    color: #555;
    font-size: 16px;
    line-height: 40px;
    margin-left: 15px;
    display: block;
}





/*contact*/

.contact-map {
    background: url('../img/map.jpg');
    width: 100%;
    height: 550px;
    margin-top: 20px;
}

.contact {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact .gbox {
    width: 100%;
    padding: 20px;
    overflow: auto;
    font-size: 16px;
    color: #fff;
    background: #c43c06;
    letter-spacing: 2px;
}

.contact .box {
    width: 100%;
    height: 210px;
    padding: 20px;
    background: #f8f8f8;
    margin-top: 20px;
}

.contact .box h3 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dotted #aaa;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 600;
}

.contact .box a {
    width: 100%;
    margin-top: 10px;
    float: left;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
}


/* 招聘 */

.hire {
    padding: 0px;
    margin-bottom: 20px;
}

.hire .box {
    border: 1px dotted #999;
    height: 500px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.hire .box .title {
    width: 100%;
    height: 50px;
}

.hire .box .title button {
    float: left;
    padding: 5px 10px 5px 10px;
    background: #eee;
    color: #c43c06;
    letter-spacing: 2px;
    margin-top: -5px;
    border: none;
    font-size: 16px;
    margin-left: 20px;
}

.hire .box .title span {
    font-size: 16px;
    float: left;
}

.hire .box .content {
    text-align: left;
    display: block;
}


/* 边栏 */

.sidebar {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-right: 0px;
    background: #fff;
    padding: 0px 0px 20px 20px;
    border-left: 1px solid #ddd;
    list-style: none;
    overflow: auto;
}

.sidebar h2 {
    color: #444;
    font-size: 18px;
    font-weight: 580;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    letter-spacing: 1px;
    text-align: left;
    margin-top:30px !important;
}

.sidebar ul {
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    overflow: hidden;
    color: #666;
    font-size: 16px;
    display: block;
}

.sidebar ul li a {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    color: #666;
    letter-spacing: 1px;
    display: block;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    color: #c43c06;
}

.sidebar a.ask {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    padding-top: 17px;
    border-radius: 3px;
    text-align: center;
    background-color: #c43c06;
    color: #fff;
    display: block;
}

.sidebar a.ask:hover{
    background-color: #666;
}


/*footer*/

.footer {
    background: #111 !important;
    color: #fff;
    padding: 50px 0;
    display: inline-block;
    width: 100%;
    font-weight: 300;
    overflow: auto;
}

.footer .menu {
    overflow: auto;
    float: left;
}

.footer .menu h1 {
    font-size: 18px;
    padding: 5px;
    border-bottom: 1px dotted #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
}

.footer .menu li {
    margin-left: 5px;
    margin-top: 10px;
}

.footer .menu li a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer .world {
    background-image: url('../img/world.png');
    -moz-border-image: url(../img/world.png) 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    -moz-background-size: 80% 80%;
    -o-background-size: 80% 80%;
    -webkit-background-size: 80% 80%;
    width: 100%;
    height: 160px;
}

.last-footer {
    padding: 10px;
    width: 100%;
    margin: 0px;
    margin-top: -5px;
    margin-bottom: -5px;
    background-color: #ddd;
}

.last-footer a {
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    padding-right: 10px;
    float: left;
}

.last-footer .menu {
    font-size: 14px;
    margin: 0px 0px auto 5px !important;
    padding: 0px !important;
    float: right;
}

.last-footer .bdsharebuttonbox {
    float: left;
}


/* 首页LOGO */


.hy-list {
    margin-top: 20px;
}

.hy-list ul li {
    float: left;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}

.hy-list ul li a {
    font-size: 15px;
    letter-spacing: 1px;
}

.hy-list ul li.active {
    background: #c43c06;
}

.hy-list ul li.all {
    background: #ddd;
}

.hy-list ul li.active a {
    color: #fff;
}

.company-bref {
    float: left;
}

.company-bref p {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #666;
}

.search-results h1 {
    width: 100%;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #aaa;
}

.search-results ul li {
    list-style: none;
}

.pages {
    float: left;
    margin-left: 0px;
    overflow: auto;
}

.pages a {
    padding: 5px 10px 5px 10px;
    background: #eee;
    margin: 5px;
    font-size: 14px;
    color: #666;
    float: left;
}

.pages a:hover,
.pages span {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    font-size: 14px;
    background: #c43c06;
    color: #fff;
    float: left;
}

.side-service {
    position: fixed;
    top: 230px;
    right: 5px;
    text-align: center;
    letter-space: 1px;
}

.side-service a {
    display: block;
    padding: 10px;
    background: #c43c06;
    border-radius: 1px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    width: 40px;
    font-size: 18px !important;
    font-weight: 800;
    line-height: 23px;
}

.side-service a:hover {
    background: #666;
}
