<include file="Public:guid" />
<style type="text/css">
    .article{
        border: 1px solid #ddd;
        padding:20px;
        width: 100%;
        overflow: auto;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .article .title{
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #333;
        font-weight: 700;
    }

    .article .refer{
        font-size:15px;
        margin-bottom: 15px;
        color: #ae0707;
    }

    .article .bref{
        font-size: 16px;
        line-height: 30px;
        text-align: justify;
    }

    .article .opera{
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: -20px;
        background: #ddd;
    }

    .article .opera button{
        height: 30px;
        display: block;
        margin-left: 20px;
        margin-top: 4px;
        float: left;
        background: #c43c06;
        color: #fff;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 2px;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 800;
    }

    .article .thumb{
        width: 440px;
        height: 340px;
        float: right;
        margin-top: -20px;
        margin-right: -20px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        border-radius: 0px;
        background: #f9f9f9;
    }

    .article .thumb img{
        width: 400px;
        height: 300px;
        float: right;
        margin: 20px;
    }

    .article .content{
        margin-top: 20px;
        line-height: 30px !important;
        font-size: 16px !important;
        text-align: justify !important;
    }
</style>
<div class="container">
    <div class="article">
        <div class="thumb">
            <img src="{:UploadUrl('article')}{$article.id}/{$article.thumbnail}"/>
        </div>
        <h1 class="title">{$article.title}</h1>
        <notempty name="article.reference">
            <h3 class="refer">
                {$article.reference}&nbsp;&nbsp;&nbsp;&nbsp;{$article.create_time}
            </h3>
        </notempty>
        <p class="bref">{$article.bref}</p>
        <div class="opera">
            <button class="fa fa-download subscriber">&nbsp;详细资料</button>
            <button class="fa fa-qq ask">&nbsp;咨询顾问</button>
            <button class="fa fa-headphones">&nbsp;400-9910-560</button>
        </div>
        <div class="content">{$article.content|htmlspecialchars_decode}</div>
    </div>
</div>

<!-- 新品编辑文章窗口 -->
<div class="modal" id="subscriberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:999999999">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px;">
            <form action="__ROOT__/subscribe/article" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title" id="editArticleModalTitle">获取详细资料</h4>
                </div>
                <div class="modal-body" style="overflow:auto;">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>资料：</label>
                            <input type="text" name="subscribe_article_name" class="form-control" readonly="true" value="{$article.title}" />
                        </div>
                        <div class="form-group">
                            <label>称谓：</label>
                            <input type="text" name="subscriber_name" class="form-control" maxlength="20" minlength="2" required="true" />
                        </div>
                        <div class="form-group">
                            <label>手机：</label>
                            <input type="number" name="subscriber_mobile" class="form-control" min="1300000000" maxlength="19999999999" minlength="11" maxlength="11" required="true" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-danger" name="subscribe_article" value="{$article.id}">获取</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    
$(document).ready(function(){

    $(".opera button.subscriber").click(function(){
        $("#subscriberModal").modal();  
    });

    $(".opera button.ask").click(function(){
        location.href = "http://wpa.qq.com/msgrd?v=3&uin=3323438118&site=qq&menu=yes";
    });
});
</script>