<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 什么版本的ie就用什么版本的标准模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
        <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
        <title>校园招聘</title>
        <link rel="stylesheet" href="css\swiper.min.css">
        <link rel="stylesheet" href="css\demo.css">
    </head>
    <body>
        <nav>
            <img onClick="location='./index'" class="vertical-center" src="imgs/logo.png" alt="logo"/>
            <div class="nav-items">
                <ul>
                    <li>
                        <div class="pointer">
                            <span>脉点</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onClick="location='./cooperation0'">合作动态<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./cooperation1'">行业风向<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./cooperation2'">业务洞察<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-div vertical-center">
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议1</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./cooperation0">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议2</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./cooperation1">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议3</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./cooperation2">更多</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>服务</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onClick="location='./service-consult'">咨询<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./service-dev'">开发<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./service-maintenance'">运维<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./service-train'">培训<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-ul vertical-center">
                                    <ul class="hide">
                                        <li data-href="/service-consult">内容管理系统规划</li>
                                        <li data-href="/service-consult">协同设计系统规划</li>
                                        <li data-href="/service-consult">项目文档系统规划</li>
                                        <li data-href="/service-consult">知识管理体系规划</li>
                                        <li data-href="/service-consult">信息安全体系规划</li>
                                        <li data-href="/service-consult">协同教学平台规划</li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/service-dev">内容管理系统开发</li>
                                        <li data-href="/service-dev">协同设计系统开发</li>
                                        <li data-href="/service-dev">项目文档系统开发</li>
                                        <li data-href="/service-dev">知识管理体系开发</li>
                                        <li data-href="/service-dev">信息安全体系开发</li>
                                        <li data-href="/service-dev">协同教学平台开发</li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/service-maintenance">内容管理系统运维</li>
                                        <li data-href="/service-maintenance">协同设计系统运维</li>
                                        <li data-href="/service-maintenance">项目文档系统运维</li>
                                        <li data-href="/service-maintenance">知识管理体系运维</li>
                                        <li data-href="/service-maintenance">信息安全体系运维</li>
                                        <li data-href="/service-maintenance">协同教学平台运维</li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/service-train">内容管理系统培训</li>
                                        <li data-href="/service-train">协同设计系统培训</li>
                                        <li data-href="/service-train">项目文档系统培训</li>
                                        <li data-href="/service-train">知识管理体系培训</li>
                                        <li data-href="/service-train">信息安全体系培训</li>
                                        <li data-href="/service-train">协同教学平台培训</li>
                                    </ul>
                                </div>
                                <div class="nav-4-empty-block hide"></div>
                                <div class="menu-content vertical-center">
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>客户</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onClick="location='./customer-finance'">金融<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./customer-edu'">教育<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./customer-consult'">咨询<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./customer-engineering'">工程<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-div vertical-center">
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议1</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-finance">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议2</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-edu">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议3</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-consult">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议4</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-engineering">更多</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>招聘</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onclick="location='./employ-school'">校园招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./employ-social'">社会招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-ul menu-ul-2">
                                    <ul class="hide">
                                        <li data-href="/employ-school">校园宣讲<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-school">实习招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-school">应届生招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/employ-social">业务招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">技术招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">职能招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">管理招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">市场招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    </ul>
                                </div>
                                <div class="nav-4-empty-block hide"></div>
                                <div class="menu-content vertical-center">
                                    <div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                0-0
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                0-1
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                0-2
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-0
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-1
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-2
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-3
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 3-1-2</b><br />
                                            <p>
                                                1-4
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>关于</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onclick="location='./about'">公司简介<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./about1'">服务网络<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./about2'">合作伙伴<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./about3'">企业文化<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-about vertical-center">
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about">更多</a>
                                    </div>
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about1">更多</a>
                                    </div>
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about2">更多</a>
                                    </div>
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about3">更多</a>
                                    </div>
                                </div>
                            </div><!-- menu-right ends -->
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-menu vertical-center">
                <input class="search-input" type="text" placeholder="搜索"/>
                <button class="search-btn"></button>
                <a class="search-a" href="#"><img class="icon-menu" src="imgs/menu.png" alt="menu"/></a>
            </div>
        </nav>
        
        <!-- <div class="swiper-container banner-div">
            <div class="swiper-wrapper">
                <div style="background-image:url(./imgs/banner-1.png)" class="swiper-slide">
                </div>
                <div style="background-image:url(./imgs/banner-2.png)" class="swiper-slide">
                </div>
                <div style="background-image:url(./imgs/banner-3.png)" class="swiper-slide">
                </div>
            </div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-pagination"></div>
        </div> -->
        <div class="banner-div banner-4">
            <div class="banner-content-4 vertical-center">
                    校园招聘
            </div>
            <div class="banner-mask-4 vertical-center">

            </div>
        </div>

        <div class="bg-color-3">
            <div class="connection">
                <span>联系电话： 400-9910-540</span>
                <span>企业邮箱： service@maiunsoft.com</span>
                <span>企业QQ： service@maiunsoft.com</span>
            </div>
        </div>

        <div class="bg-color-5">
            <div class="template-wrap">
                <div class="employ-tabswitch-1">
                    <button class="tabswitch-btn switch-active" type="button">校园宣讲</button>
                    <button class="tabswitch-btn" type="button">实习招聘</button>
                    <button class="tabswitch-btn" type="button">应届生招聘</button>
                </div>

                <div class="drop-down">
                    <!-- <select>
                        <option>
                            上海
                        </option>
                        <option>
                            兰州
                        </option>
                        <option>
                            深圳
                        </option>
                    </select> -->
                    <div class="default-item">
                        上海
                    </div>
                    <div class="drop-down-item hide">
                        上海
                    </div>
                    <div class="drop-down-item hide">
                        兰州
                    </div>
                    <div class="drop-down-item hide">
                        深圳
                    </div>
                </div>

                <div class="template-card card-switch-1">
                    <div class="template-card-img" >
                        <span></span>
                        <img src="imgs/shanghai.png" alt="">
                    </div>
                    <div class="template-card-article-3">
                        <h3 class="job-title">上海大学</h3>
                        <table>
                            <tr>
                                <td class="table-title">
                                    宣讲主题：
                                </td>
                                <td class="table-content">
                                    参与设计、审核、优化公司IT系统以及各应用系统的体系架构；
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲时间：
                                </td>
                                <td class="table-content">
                                    2017.12.23
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲嘉宾：
                                </td>
                                <td class="table-content">
                                    黎明
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲地址：
                                </td>
                                <td class="table-content">
                                    上海宝山区梓坤科技园1号楼南区
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="template-card card-switch-1">
                    <div class="template-card-img" >
                        <span></span>
                        <img src="imgs/shanghai.png" alt="">
                    </div>
                    <div class="template-card-article-3">
                        <h3 class="job-title">兰州大学</h3>
                        <table>
                            <tr>
                                <td class="table-title">
                                    宣讲主题：
                                </td>
                                <td class="table-content">
                                    全面负责公司运维项目的系统升级、扩容需求与资源落实，配合开发需求，测试、调整运维平台；
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲时间：
                                </td>
                                <td class="table-content">
                                    2016.12.30
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲嘉宾：
                                </td>
                                <td class="table-content">
                                    刘希
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲地址：
                                </td>
                                <td class="table-content">
                                    上海宝山区梓坤科技园1号楼南区
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="template-card card-switch-1">
                    <div class="template-card-img" >
                        <span></span>
                        <img src="imgs/shanghai.png" alt="">
                    </div>
                    <div class="template-card-article-3">
                        <h3 class="job-title">西北师范大学</h3>
                        <table>
                            <tr>
                                <td class="table-title">
                                    宣讲主题：
                                </td>
                                <td class="table-content">
                                    负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲时间：
                                </td>
                                <td class="table-content">
                                    2017.4.6
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲嘉宾：
                                </td>
                                <td class="table-content">
                                    雷利
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    宣讲地址：
                                </td>
                                <td class="table-content">
                                    上海宝山区梓坤科技园1号楼南区
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="template-card card-switch-2 hide">
                    <div class="template-card-article-2">
                        <h3 class="job-title">Java实习生</h3>
                        <table>
                            <tr>
                                <td class="table-title">
                                    岗位职责：
                                </td>
                                <td class="table-content">
                                    负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    任职要求：
                                </td>
                                <td class="table-content">
                                    HTML5，C语言，C，Html5，C语言，Html
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    工作经验：
                                </td>
                                <td class="table-content">
                                    一年以下
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    公司地址：
                                </td>
                                <td class="table-content">
                                    上海宝山梓坤科技园5018号
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    薪资待遇：
                                </td>
                                <td class="table-content">
                                    5k-10k
                                </td>
                            </tr>
                        </table>
                        <div class="template-card-imgbox">
                            <img src="./imgs/rush.png" alt="rush">
                            <img src="./imgs/rush-2.png" alt="rush">
                        </div>
                    </div>
                </div>
                <div class="template-card card-switch-2 hide">
                    <div class="template-card-article-2">
                        <h3 class="job-title">运维实习生</h3>
                        <table>
                            <tr>
                                <td class="table-title">
                                    岗位职责：
                                </td>
                                <td class="table-content">
                                    负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    任职要求：
                                </td>
                                <td class="table-content">
                                    HTML5，C语言，C，Html5，C语言，Html
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    工作经验：
                                </td>
                                <td class="table-content">
                                    一年以下
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    公司地址：
                                </td>
                                <td class="table-content">
                                    上海宝山梓坤科技园5018号
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    薪资待遇：
                                </td>
                                <td class="table-content">
                                    5k-10k
                                </td>
                            </tr>
                        </table>
                        <div class="template-card-imgbox">
                            <img src="./imgs/rush.png" alt="rush">
                            <img src="./imgs/rush-2.png" alt="rush">
                        </div>
                    </div>
                </div>

                <div class="template-card card-switch-3 hide">
                    <div class="template-card-article-2">
                        <h3 class="job-title">运维实习生3</h3>
                        <table>
                            <tr>
                                <td class="table-title">
                                    岗位职责：
                                </td>
                                <td class="table-content">
                                    负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    任职要求：
                                </td>
                                <td class="table-content">
                                    HTML5，C语言，C，Html5，C语言，Html
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    工作经验：
                                </td>
                                <td class="table-content">
                                    一年以下
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    公司地址：
                                </td>
                                <td class="table-content">
                                    上海宝山梓坤科技园5018号
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">
                                    薪资待遇：
                                </td>
                                <td class="table-content">
                                    5k-10k
                                </td>
                            </tr>
                        </table>
                        <div class="template-card-imgbox">
                            <img src="./imgs/rush.png" alt="rush">
                            <img src="./imgs/rush-2.png" alt="rush">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/swiper.min.js"></script>
        <script src="./js/main.js"></script>
        <script src="./js/employ-tab.js"></script>
    </body>
</html>
