<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
        <title>脉云首页</title>
        <link rel="stylesheet" href="css\swiper.min.css">
        <link rel="stylesheet" href="css\demo.css">
    </head>
    <body>
        <nav>
            <img onClick="location='./index'" class="vertical-center" src="imgs/logo.png" alt="logo"/>
            <div class="nav-items">
                <ul>
                    <li>
                        <div class="pointer">
                            <span>脉点</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onClick="location='./cooperation0'">合作动态<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./cooperation1'">行业风向<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./cooperation2'">业务洞察<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-div vertical-center">
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议1</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./cooperation0">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议2</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./cooperation1">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议3</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./cooperation2">更多</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>服务</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onClick="location='./service-consult'">咨询<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./service-dev'">开发<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./service-maintenance'">运维<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./service-train'">培训<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-ul vertical-center">
                                    <ul class="hide">
                                        <li data-href="/service-consult">内容管理系统规划</li>
                                        <li data-href="/service-consult">协同设计系统规划</li>
                                        <li data-href="/service-consult">项目文档系统规划</li>
                                        <li data-href="/service-consult">知识管理体系规划</li>
                                        <li data-href="/service-consult">信息安全体系规划</li>
                                        <li data-href="/service-consult">协同教学平台规划</li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/service-dev">内容管理系统开发</li>
                                        <li data-href="/service-dev">协同设计系统开发</li>
                                        <li data-href="/service-dev">项目文档系统开发</li>
                                        <li data-href="/service-dev">知识管理体系开发</li>
                                        <li data-href="/service-dev">信息安全体系开发</li>
                                        <li data-href="/service-dev">协同教学平台开发</li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/service-maintenance">内容管理系统运维</li>
                                        <li data-href="/service-maintenance">协同设计系统运维</li>
                                        <li data-href="/service-maintenance">项目文档系统运维</li>
                                        <li data-href="/service-maintenance">知识管理体系运维</li>
                                        <li data-href="/service-maintenance">信息安全体系运维</li>
                                        <li data-href="/service-maintenance">协同教学平台运维</li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/service-train">内容管理系统培训</li>
                                        <li data-href="/service-train">协同设计系统培训</li>
                                        <li data-href="/service-train">项目文档系统培训</li>
                                        <li data-href="/service-train">知识管理体系培训</li>
                                        <li data-href="/service-train">信息安全体系培训</li>
                                        <li data-href="/service-train">协同教学平台培训</li>
                                    </ul>
                                </div>
                                <div class="nav-4-empty-block hide"></div>
                                <div class="menu-content vertical-center">
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-0-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-consult">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-1-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-dev">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-2-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-maintenance">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-0</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-1</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-2</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-3</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-4</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 1-3-5</b><br />
                                            <p>
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                                云科技签订战略合作协议与犀云签订战略合作协议，
                                            </p>
                                            <!-- <a href="./service-train">更多</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>客户</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onClick="location='./customer-finance'">金融<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./customer-edu'">教育<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./customer-consult'">咨询<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onClick="location='./customer-engineering'">工程<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-div vertical-center">
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议1</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-finance">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议2</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-edu">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议3</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-consult">更多</a>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <b>与悉云科技签订战略合作协议4</b>
                                        <div class="menu-img">
                                            <img src="imgs/mht-1.jpg" alt="">
                                        </div>
                                        <div class="menu-article">
                                            <span>
                                                本协议双方遵循互惠互利合作理念，以促惠上为目的，依托国资系统合作平台，本着“发挥优势、相互促进、长期合作、互利互赢”的原则推进战略合作，努力扩大双方合作的深度和广度，提高双方经济效益，实现互利共赢。
                                            </span>
                                            <a href="./customer-engineering">更多</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>招聘</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onclick="location='./employ-school'">校园招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./employ-social'">社会招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-ul menu-ul-2">
                                    <ul class="hide">
                                        <li data-href="/employ-school">校园宣讲<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-school">实习招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-school">应届生招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    </ul>
                                    <ul class="hide">
                                        <li data-href="/employ-social">业务招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">技术招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">职能招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">管理招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                        <li data-href="/employ-social">市场招聘<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    </ul>
                                </div>
                                <div class="nav-4-empty-block hide"></div>
                                <div class="menu-content vertical-center">
                                    <div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                0-0
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                0-1
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                0-2
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                    </div>
                                    <div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-0
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-1
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-2
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>任职要求</b><br />
                                            <p>
                                                1-3
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                        <div class="hide">
                                            <b>与犀云签订战略合作协议 3-1-2</b><br />
                                            <p>
                                                1-4
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                                html5，c语言，html5，c语言
                                            </p>
                                            <!-- <a href="#">更多</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!--
                 --><li>
                        <div class="pointer">
                            <span>关于</span>
                        </div>
                        <div class="menu-mask hide">
                            <div class="menu-left">
                                <ul>
                                    <li onclick="location='./about'">公司简介<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./about1'">服务网络<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./about2'">合作伙伴<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                    <li onclick="location='./about3'">企业文化<img class="hide vertical-center" src="./imgs/right-arrow.png" alt="right-arrow"></li>
                                </ul>
                            </div>
                            <div class="menu-right">
                                <div class="menu-about vertical-center">
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about">更多</a>
                                    </div>
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about1">更多</a>
                                    </div>
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about2">更多</a>
                                    </div>
                                    <div class="hide">
                                        <b>脉云软件（上海）有限公司</b>
                                        <span>
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                            脉云软件作为一家各个方面
                                        </span>
                                        <a href="./about3">更多</a>
                                    </div>
                                </div>
                            </div><!-- menu-right ends -->
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-menu vertical-center">
                <input class="search-input" type="text" placeholder="搜索"/>
                <button class="search-btn"></button>
                <a class="search-a" href="#"><img class="icon-menu" src="imgs/menu.png" alt="menu"/></a>
            </div>
        </nav>
        
        <div class="swiper-container banner-div">
            <div class="swiper-wrapper">
                <div style="background-image:url(./imgs/banner-1.png)" class="swiper-slide">
                </div>
                <div style="background-image:url(./imgs/banner-2.png)" class="swiper-slide">
                </div>
                <div style="background-image:url(./imgs/banner-3.png)" class="swiper-slide">
                </div>
            </div>
            <!-- <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div> -->
            <div class="swiper-pagination"></div>
        </div>

        <div class="bg-color-1">
            <div class="section-one">
                <div>
                    <b>最新动态</b>
                </div>
                <div class="section-one-content">
                    <div class="section-one-article">
                        <img src="./imgs/article-1.png" alt="logo-img">
                        <div>
                            <b>轻松上云端</b>
                            <p>
                                Mainun Connect 系列产品助您连接云端，探索洞察力，应对数据挑战。
                                拨打免费咨询热线：400-668-0529。
                            </p>
                            <a class="section-one-article-link">
                                <span>更多详情<img class="icon-right" src="./imgs/right-black.png"/></span>
                            </a>
                        </div>
                    </div>
                    <div class="section-one-article">
                        <img src="./imgs/article-2.png" alt="logo-img">
                        <div>
                            <b>安全威胁日益增多？</b>
                            <p>
                                通过将可靠的基础管控、智能报告和管理工具进行独特的组合，立即开启您的云端之旅。
                            </p>
                            <a class="section-one-article-link">
                                <span>更多详情<img class="icon-right" src="./imgs/right-black.png"/></span>
                            </a>
                        </div>
                    </div>
                    <div class="section-one-article">
                        <img src="./imgs/article-3.png" alt="logo-img">
                        <div>
                            <b>48小时黑客松</b>
                            <p>
                                2017年 3月 11、 12日, 在紧张刺激的48小时中，实现区块链技术的
                                创新商业应用，谁与争锋？
                            </p>
                            <a class="section-one-article-link">
                                <span>更多详情<img class="icon-right" src="./imgs/right-black.png"/></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-color-2">
            <div class="section-two">
                <div>
                    <b>业务洞察</b>
                </div>
                <div class="section-two-content">
                    <div class="section-two-article">
                        <img src="./imgs/article-6.png" alt="logo-img"><br >
                        <div>
                            <b>实现前所未有的突破</b>
                            <p>
                                当您以全新方式将数据连结在一起，即可获得全新洞察。
                            </p>
                            <button onClick="location='./cooperation2'" class="section-two-article-btn">了解更多</button>
                        </div>
                    </div>
                    <div class="section-two-article">
                        <img src="./imgs/article-5.png" alt="logo-img"><br >
                        <div>
                            <b>认知型车联网</b>
                            <p>
                                您能否设想汽车可用于监测瓦斯、保障家庭安全、寻找遗失宠物？
                            </p>
                            <button onClick="location='./cooperation2'" class="section-two-article-btn">了解更多</button>
                        </div>
                    </div>
                    <div class="section-two-article">
                        <img src="./imgs/article-4.png" alt="logo-img"><br >
                        <div>
                            <b>感知人体动作改善健康状况</b>
                            <p>
                                人工智能应用于人体动作的感知，将有机会改变很多病人的命运。
                            </p>
                            <button onClick="location='./cooperation2'" class="section-two-article-btn">了解更多</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-five">
            <h3 id="sec-3">安全便捷的内容管理解决方案提供商</h3>
        </div>

        <div class="bg-color-6">
            <div class="section-six">
                <div class="section-six-bg section-six-bg-0">
                    <div class="upblock-bg-0"></div>
                    <div class="upblock-bg-cg hide"></div>
                    <div class="upblock">
                        <img class="upblock-icon-1" src="./imgs/icon/icon-smile.png" alt="smile-icon"><br />
                        <img class="upblock-icon-2" src="./imgs/icon/icon-line.png" alt="line">
                        <p class="upblock-title">
                            系统咨询
                        </p>
                        <p class="upblock-content hide">
                            外资企业网站系统开发系统开发<br />
                            外资企业网站系统开发系统开发
                        </p>
                        <button class="upblock-btn hide">查看详情</button>
                    </div>
                </div><!--
             --><div class="section-six-bg section-six-bg-1">
                    <div class="upblock-bg-1"></div>
                    <div class="upblock-bg-cg hide"></div>
                    <div class="upblock">
                        <img class="upblock-icon-1" src="./imgs/icon/icon-global.png" alt="global-icon"><br />
                        <img class="upblock-icon-2" src="./imgs/icon/icon-line.png" alt="line">
                        <p class="upblock-title">
                            系统开发
                        </p>
                        <p class="upblock-content hide">
                            外资企业网站系统开发系统开发<br />
                            外资企业网站系统开发系统开发
                        </p>
                        <button class="upblock-btn hide">查看详情</button>
                    </div>
                </div><!--
             --><div class="section-six-bg section-six-bg-2">
                    <div class="upblock-bg-2"></div>
                    <div class="upblock-bg-cg hide"></div>
                    <div class="upblock">
                        <img class="upblock-icon-1" src="./imgs/icon/icon-setting.png" alt="setting-icon"><br />
                        <img class="upblock-icon-2" src="./imgs/icon/icon-line.png" alt="line">
                        <p class="upblock-title">
                            系统运维
                        </p>
                        <p class="upblock-content hide">
                            外资企业网站系统开发系统开发<br />
                            外资企业网站系统开发系统开发
                        </p>
                        <button class="upblock-btn hide">查看详情</button>
                    </div>
                </div><!--
             --><div class="section-six-bg section-six-bg-3">
                    <div class="upblock-bg-3"></div>
                    <div class="upblock-bg-cg hide"></div>
                    <div class="upblock">
                        <img class="upblock-icon-1" src="./imgs/icon/icon-member.png" alt="member-icon"><br />
                        <img class="upblock-icon-2" src="./imgs/icon/icon-line.png" alt="line">
                        <p class="upblock-title">
                            系统培训
                        </p>
                        <p class="upblock-content hide">
                            外资企业网站系统开发系统开发<br />
                            外资企业网站系统开发系统开发
                        </p>
                        <button class="upblock-btn hide" onClick="location='./intro'" >查看详情</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-color-7">
            <div class="section-four">
                <div class="link-part link-about">
                    <b>关于</b>
                    <p>公司简介</p>
                    <p>服务网络</p>
                    <p>合作伙伴</p>
                    <p>企业文化</p>
                </div>
                <div class="link-part link-cooperation">
                    <b>服务</b>
                    <p>咨询</p>
                    <p>开发</p>
                    <p>运维</p>
                    <p>培训</p>
                </div>
                <div class="link-part link-news">
                    <b>客户</b>
                    <p>金融</p>
                    <p>教育</p>
                    <p>咨询</p>
                    <p>工程</p>
                </div>
                <div class="link-part link-mobile">
                    <b>移动脉云</b>
                    <p><img src="./imgs/qcode.png" alt="maiyun mobile QRCode"></p>
                </div>
                <div class="link-part link-global">
                    <!-- <b>聚焦数字世界 服务现代生活</b> -->
                    <b>联系方式</b>
                    <!-- <p><img src="./imgs/world-map.png" alt="world map"></p> -->
                    <p>联系电话： 400-9910-540</p>
                    <p>企业邮箱： service@maiunsoft.com</p>
                    <p>企业QQ： service@maiunsoft.com</p>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <p>
                    版权所有脉云（上海）有限公司
                </p>
                <p>
                    沪ICP备14051784号
                </p>
                <a><img src="./imgs/icon-email.png" alt="email-icon"></a>
                <a><img src="./imgs/icon-qq.png" alt="qq-icon"></a>
                <a><img src="./imgs/icon-weibo.png" alt="weibo-icon"></a>
            </div>
        </footer>

        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/swiper.min.js"></script>
        <script src="./js/main.js"></script>
    </body>
</html>
