<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>脉云软件 | {$_PageHeader.title}</title>
    <meta name="keyword" content="{$_PageHeader.keywords}">
    <meta name="description" content="{$_PageHeader.description}">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <css href="http://static.maiunsoft.com/assets/bootstrap-3.3.5/css/bootstrap.min.css" />
    <css href="__PUBLIC__/Static/Assets/font-awesome-4.4.0/css/font-awesome.min.css" />
    <js href="http://static.maiunsoft.com/assets/jquery-2.2.0.min.js" />
    <css href="__MB_STATIC__/css/style.css" />
</head>

<body>
    <div class="shows">{__CONTENT__}</div>
    <div class="foot">
        <span>MAIUNSOFT 2016-2018</span>
    </div>

    <div class="modal fade" id="contact_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">通过以下方式与我们联系</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a class="list-group-item" href="#"> <i class="fa fa-home fa-fw"></i>
                            &nbsp; 上海市浦东新区崂山路526号江苏大厦
                        </a>
                        <a class="list-group-item" href="tel://4009910560"> <i class="fa fa-headphones fa-fw"></i>
                            &nbsp; 400-9910-560
                        </a>
                        <a class="list-group-item" href="http://wpa.qq.com/msgrd?v=3&uin=3323438118&site=qq&menu=yes">
                            <i class="fa fa-qq fa-fw"></i>
                            &nbsp; 3323438118
                        </a>
                        <a class="list-group-item" href="mailto:service@maiunsoft.com"> <i class="fa fa-envelope fa-fw"></i>
                            &nbsp; service@maiunsoft.com
                        </a>
                        <a class="list-group-item" href="weixin://contacts/profile/mainuosft">
                            <i class="fa fa-wechat fa-fw"></i>
                            &nbsp; 脉云软件
                        </a>
                        <a class="list-group-item" href="#">
                            <i class="fa fa-weibo fa-fw"></i>
                            &nbsp; 脉云软件
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <js href="http://static.maiunsoft.com/assets/bootstrap-3.3.5/js/bootstrap.min.js" />
</body>

</html>