<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>脉云软件 | {$_PageHeader.title}</title>
    <meta name="keyword" content="{$_PageHeader.keywords}">
    <meta name="description" content="{$_PageHeader.description}">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="__MB_STATIC__/img/favicon.png" >
	<link rel="stylesheet" href="__MB_STATIC__/css/reset.css">
	<link rel="stylesheet" href="__MB_STATIC__/css/swiper.min.css">
	<link rel="stylesheet" href="__MB_STATIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__MB_STATIC__/css/main.css"/>
	<script src="__MB_STATIC__/js/zepto.min.js"></script>
	<script src="__MB_STATIC__/js/iscroll.js"></script>
	<script src="__MB_STATIC__/js/swiper.min.js"></script>
	<script src="__MB_STATIC__/js/common.js"></script>
	<script src="__MB_STATIC__/js/index.js"></script>
</head>

<body>
<!--导航部分-->
<include file="Mobile:Index:header" />
<!--模板渲染-->
<div id="main">
	{__CONTENT__}

	<!-- 脉云介绍 -->
	<div class="about">
		<h4>联系方式</h4>
		<p>联系 QQ：400-9910-560</p>
		<p>联系电话：021-80392945转001</p>
		<p>企业邮箱：service@maiunsoft.com</p>
		<p>企业公众号：service@maiunsoft.com</p>
	</div>

</div>

<!--底部-->
<footer id="footer" class="clear">
	<div class="copyright">版权所有:脉云软件（上海）有限公司</div>
	<div class="number">沪ICP备14051784号</div>
	<div class="share">
		<a href="##"><img src="__MB_STATIC__/img/img03.png" alt="share"></a>
		<a href="##"><img src="__MB_STATIC__/img/img04.png" alt="share"></a>
		<a href="##"><img src="__MB_STATIC__/img/img05.png" alt="share"></a>
	</div>
</footer>


<!--<script src="__MB_STATIC__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__MB_STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	jQuery(document).ready(function($){
		$("img").lazyload({
			placeholder:"__MB_STATIC__/img/loading.gif",
			effect:"fadeIn",
			effectspeed:500
		})
	})
</script>-->


<script src="__MB_STATIC__/js/echo.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	echo.init()
</script>

</body>
</html>