<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" >
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<!--<link rel="stylesheet" href="css/qiyewenhua.css">-->
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<script src="js/zepto.min.js"></script>
	<script src="js/iscroll.js"></script>
	<script src="js/common.js"></script>
	<title>企业文化</title>
</head>
<body>
<!-- 头部 -->
	<header class="clear">
		<a href="index" class="logo">Maiunsoft</a>
		<nav class="clear">
			<a href="##" class="user"></a>
			<a href="##" class="menu"></a>
			<div class="bg"></div>
			<div class="menu_list" id="wrapper">
				<div id="scroller">
					<ul class="item">
						<li>
							<a href="index" class="shouye">首页</a>
							<em></em>
						</li>	
					</ul>
					<ul class="item">
						<li>
							<span>脉点<i></i></span>
							<a href="maidian">合作动态</a>
							<a href="hangyefengxiang">行业风向</a>
							<a href="yewudongcha">业务洞察</a>
						</li>
					</ul>
					<ul class="item">
						<li>
							<span>服务<i></i></span>
							<a href="##" class="has">咨询</a>
							<div class="three">
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
							</div>

							<a href="##" class="has">开发</a>
							<div class="three">
								<a href="ruanjiankaifa">软件开发</a>
								<a href="ruanjiankaifa">软件开发</a>
								<a href="ruanjiankaifa">软件开发</a>
							</div>

							<a href="##" class="has">运维</a>
							<div class="three">
								<a href="zhuomianyunwei">桌面运维</a>
								<a href="zhuomianyunwei">桌面运维</a>
								<a href="zhuomianyunwei">桌面运维</a>
							</div>

							<a href="##" class="has">培训</a>
							<div class="three">
								<a href="peixun">IT培训</a>
								<a href="peixun">IT培训</a>
								<a href="peixun">IT培训</a>
							</div>
						</li>
					</ul>
					<ul class="item">
						<li class="kai">
							<span>客户<i></i></span>
							<a href="jinrong">金融</a>
							<a href="jiaoyu">教育</a>
							<a href="zixun">咨询</a>
							<a href="gongcheng">工程</a>
						</li>
					</ul>
					<ul class="item">
						<li>
						<span>招聘<i></i></span>
							<a href="xiaoyuanzhaopin">校园招聘</a>
							<a href="shehuizhaopin">社会招聘</a>
						</li>
					</ul>
					<ul class="item">
						<li>
							<span>关于<i></i></span>
							<a href="gongsijianjie">公司简介</a>
							<a href="fuwuwangluo">服务网络</a>
							<a href="hezuohuoban">合作伙伴</a>
							<a href="qiyewenhua">企业文化</a>
							<a href="kechixu">可持续发展</a>
						</li>
					</ul>				
				</div>
			</div>
		</nav>
	</header>
<div id="main">
<!-- 焦点图 -->
	<div class="banner">
		<img src="img/md01.png" alt="">
		<div class="title">企业文化</div>
	</div>
			<!-- 公司简介 -->
		<div class="news">
	
			<div class="floor" style="padding-top:0.9rem">
				<h3>脉云软件（上海）有限公司</h3>
				<p>与悉云科技签订战略合作协议与悉云科技签合作协议,与悉云科技签订战略与悉云科技签合作协议与悉云科技签。</p>
				<p>订战略合作协议与悉云科技签订战略合作协云科技签订战略与悉云科技签订战略合作协云科技签订战略合作协.与悉云科技签订战略略与悉云科技签订战略合作协议。</p>
	
			</div>
				<!-- 企业文化 -->
			<!-- 	<div class="wenhua">
					<div class="bg"></div>
						<table class="table">
							<tr>
								<td class="left" rowspan="4">文化观念：</td><td class="right" rowspan="4">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="4">价值观念：</td><td class="right" rowspan="4">Html5，C语言，Html5，C，Html5，C语言Html5,Html5，C语言，Html5，C，Html5，C语言Html5</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="3">企业精神: </td><td class="right" rowspan="3">上海宝山梓坤科技园1号楼南区上海宝山梓坤科技园1号楼南区上海宝山梓坤科技园1号楼南区</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="3">企业制度：</td><td class="right" rowspan="3">签订战略合作协议,与悉云科技签签订战略合作协议,与悉云科技签签订战略合作协议,与悉云科技签</td>
							</tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td class="left" rowspan="2">文化环境：</td><td class="right" rowspan="2">151888888888签订战略合作协议,与悉云科技签签订战略合作协议,与悉云科技签</td>
							</tr>
							<tr></tr>
						</table>

					<a href="##" class="more">更多详情&gt;&gt;</a>
				</div>	end 企业文化 --> 
			</div>   <!--end information-->
		</div>   <!-- end 公司简介-->
</body>
</html>