<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" >
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<!--<link rel="stylesheet" href="css/xiaoyuanzhaopin.css">-->
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<script src="js/zepto.min.js"></script>
	<script src="js/iscroll.js"></script>
	<script src="js/common.js"></script>
	<script src="js/xiaoyuanzhaopin.js"></script>
	<title>校园招聘</title>
</head>
<body>
<!-- 头部 -->
	<header class="clear">
		<a href="index" class="logo">Maiunsoft</a>
		<nav class="clear">
			<a href="##" class="user"></a>
			<a href="##" class="menu"></a>
			<div class="bg"></div>
			<div class="menu_list" id="wrapper">
				<div id="scroller">
					<ul class="item">
						<li>
							<a href="index" class="shouye">首页</a>
							<em></em>
						</li>	
					</ul>
					<ul class="item">
						<li>
							<span>脉点<i></i></span>
							<a href="maidian">合作动态</a>
							<a href="hangyefengxiang">行业风向</a>
							<a href="yewudongcha">业务洞察</a>
						</li>
					</ul>
					<ul class="item">
						<li>
							<span>服务<i></i></span>
							<a href="##" class="has">咨询</a>
							<div class="three">
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
								<a href="zhuanyezixun">专业咨询</a>
							</div>

							<a href="##" class="has">开发</a>
							<div class="three">
								<a href="ruanjiankaifa">软件开发</a>
								<a href="ruanjiankaifa">软件开发</a>
								<a href="ruanjiankaifa">软件开发</a>
							</div>

							<a href="##" class="has">运维</a>
							<div class="three">
								<a href="zhuomianyunwei">桌面运维</a>
								<a href="zhuomianyunwei">桌面运维</a>
								<a href="zhuomianyunwei">桌面运维</a>
							</div>

							<a href="##" class="has">培训</a>
							<div class="three">
								<a href="peixun">IT培训</a>
								<a href="peixun">IT培训</a>
								<a href="peixun">IT培训</a>
							</div>
						</li>
					</ul>
					<ul class="item">
						<li class="kai">
							<span>客户<i></i></span>
							<a href="jinrong">金融</a>
							<a href="jiaoyu">教育</a>
							<a href="zixun">咨询</a>
							<a href="gongcheng">工程</a>
						</li>
					</ul>
					<ul class="item">
						<li>
						<span>招聘<i></i></span>
							<a href="xiaoyuanzhaopin">校园招聘</a>
							<a href="shehuizhaopin">社会招聘</a>
						</li>
					</ul>
					<ul class="item">
						<li>
							<span>关于<i></i></span>
							<a href="gongsijianjie">公司简介</a>
							<a href="fuwuwangluo">服务网络</a>
							<a href="hezuohuoban">合作伙伴</a>
							<a href="qiyewenhua">企业文化</a>
							<a href="kechixu">可持续发展</a>
						</li>
					</ul>				
				</div>
			</div>
		</nav>
	</header>
<!--  主体-->
	<div id="main">
	<!-- 焦点图 -->
		<div class="banner">
			<img src="img/banner03.png" alt="">
			<div class="title">校园招聘</div>
		</div>
		<!-- 招聘岗位 -->
		<div class="news job">
			<div class="news-top clear">
				<h1>招聘简介</h1>
				<span class="news-top-right">上海<i></i></span>
				<div class="cpmWrapper">
					<div class="city">
						<h3>请选择应聘的城市</h3>
						<ul>
							<li class="now">上海</li>
							<li>兰州</li>
							<li>杭州</li>
							<li>深圳</li>
						</ul>
					</div>
					<span>取消</span>
				</div>
			</div>
			<div class="floor">
				<h3>脉云软件（上海）有限公司</h3>
				<p>与悉云科技签订战略合作协议与悉云科技签合作协议,与悉云科技签订战略与悉云科技签合作协议与悉云科技签。</p>
				<p>订战略合作协议与悉云科技签订战略合作协云科技签订战略与悉云科技签订战略合作协云科技签订战略合作协.与悉云科技签订战略略与悉云科技签订战略合作协议。</p>
				<a href="##" class="more" data-cont="xiaoyuanzhaopin-data_floor1">更多详情&gt;&gt;</a>
			</div>
			<div class="information">
				<div class="info_menu">
					<a href="##">校园宣讲</a>
					<a href="##" class="current">实习招聘</a>
					<a href="##">应届生招聘</a>
				</div>
				<div style="height:1.4rem;width:100%;margin-bottom:0.6rem;"></div>
				<div class="all-content">
					<div class="content">
						<div class="floor">
							<h3>Java实习生</h3>					
							<table class="table">
								<tr>
									<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
								</tr>
								<tr>
									
								</tr>
								<tr>
									<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
								</tr>
								<tr>
								
								</tr>
								<tr>
									<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
								</tr>
								<tr>
									<td class="left">公司地址：</td><td class="right">151888888888</td>
								</tr>
								<tr>
									<td class="left">薪资待遇：</td><td class="right">151888888888</td>
								</tr>
							</table>
							<a href="##" class="more" data-cont="xiaoyuanzhaopin-data_floor1">更多详情&gt;&gt;</a>
						</div>
						<div class="floor">
							<h3>项目实习生</h3>					
							<table class="table">
								<tr>
									<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
								</tr>
								<tr>
									
								</tr>
								<tr>
									<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
								</tr>
								<tr>
								
								</tr>
								<tr>
									<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
								</tr>
								<tr>
									<td class="left">公司地址：</td><td class="right">151888888888</td>
								</tr>
								<tr>
									<td class="left">薪资待遇：</td><td class="right">151888888888</td>
								</tr>
							</table>
							<a href="##" class="more" data-cont="xiaoyuanzhaopin-data_floor1">更多详情&gt;&gt;</a>
						</div>
					</div>   <!--end 实习-->
					<div class="content" style="display: block;">
						<div class="floor">
							<h3><span>上海大学站</span><img src="img/ji.png" alt="" style="margin-right:4px;"><img src="img/jinji.png" alt=""></h3>					
							<table class="table">
								<tr>
									<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
								</tr>
								<tr>
									
								</tr>
								<tr>
									<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
								</tr>
								<tr>
								
								</tr>
								<tr>
									<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
								</tr>
								<tr>
									<td class="left">公司地址：</td><td class="right">151888888888</td>
								</tr>
								<tr>
									<td class="left">薪资待遇：</td><td class="right">151888888888</td>
								</tr>
							</table>
							<a href="##" class="more" data-cont="xiaoyuanzhaopin-data_floor1">更多详情&gt;&gt;</a>
						</div>
						<div class="floor">
							<h3>西北师范大学</h3>					
							<table class="table">
								<tr>
									<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
								</tr>
								<tr>
									
								</tr>
								<tr>
									<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
								</tr>
								<tr>
								
								</tr>
								<tr>
									<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
								</tr>
								<tr>
									<td class="left">公司地址：</td><td class="right">151888888888</td>
								</tr>
								<tr>
									<td class="left">薪资待遇：</td><td class="right">151888888888</td>
								</tr>
							</table>
							<a href="##" class="more" data-cont="xiaoyuanzhaopin-data_floor1">更多详情&gt;&gt;</a>
						</div>
					</div>  <!--end 宣讲-->
					<div class="content">
						<div class="floor">
							<h3>Java应届生</h3>					
							<table class="table">
								<tr>
									<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
								</tr>
								<tr>
									
								</tr>
								<tr>
									<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
								</tr>
								<tr>
								
								</tr>
								<tr>
									<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
								</tr>
								<tr>
									<td class="left">公司地址：</td><td class="right">151888888888</td>
								</tr>
								<tr>
									<td class="left">薪资待遇：</td><td class="right">151888888888</td>
								</tr>
							</table>
							<a href="##" class="more" data-cont="xiaoyuanzhaopin-data_floor1">更多详情&gt;&gt;</a>
						</div>
						<div class="floor">
							<h3>应届生招聘</h3>					
							<table class="table">
								<tr>
									<td class="left" rowspan="2">岗位职责：</td><td class="right" rowspan="2">签订战略合作协议,与悉云科技签协议,与悉云科技签订战略。</td>
								</tr>
								<tr>
									
								</tr>
								<tr>
									<td class="left" rowspan="2">任职要求：</td><td class="right" rowspan="2">Html5，C语言，Html5，C，Html5，C语言Html5</td>
								</tr>
								<tr>
								
								</tr>
								<tr>
									<td class="left">工作经验：</td><td class="right">上海宝山梓坤科技园1号楼南区</td>
								</tr>
								<tr>
									<td class="left">公司地址：</td><td class="right">151888888888</td>
								</tr>
								<tr>
									<td class="left">薪资待遇：</td><td class="right">151888888888</td>
								</tr>
							</table>
							<a href="##" class="more" data-cont="xiaoyuanzhaopin-data_floor1">更多详情&gt;&gt;</a>
						</div>
					</div>   <!--end 应届-->
				</div>
			</div>
			<a class="totop" href="#main"></a>
		</div>   <!-- end 招聘岗位-->
</body>
</html>


